<% timeline_entry_content = capture do %>
  <% if entry.internal_note? && entry.details %>
    <%= simple_format(escape_and_link(entry.details.body)) %>
  <% end %>

  <% if (entry.withdrawn? || entry.withdrawn_updated?) && entry.details %>
    <%= entry.details.public_explanation %>
  <% end %>

  <% if entry.backdated? %>
    <% date = entry.revision.backdated_to.to_fs(:date) %>
    <%= t "documents.history.entry_content.backdated", date: date %>
  <% end %>

  <% if entry.removed? && entry.details %>
    <% removal = entry.details %>
    <% if removal.explanatory_note.present? %>
      <p><%= removal.explanatory_note %></p>
    <% end %>
    <% if removal.alternative_url.present? %>
      <p>
        <% if removal.redirect? %>
          <%= t "documents.history.entry_content.redirected_to" %>
        <% else %>
          <%= t "documents.history.entry_content.alternative_url" %>
        <% end %>
        <%= link_to(nil,
                    URI.join(Plek.website_root, removal.alternative_url).to_s,
                    class: "govuk-link") %>
      </p>
    <% end %>
  <% end %>
<% end %>

<div class="app-timeline-entry <%= "app-timeline-entry--highlighted" if timeline_entry_content %>">
  <h4 class="govuk-heading-s">
    <%= t "documents.history.entry_types.#{entry.entry_type}" %>
  </h4>

  <div class="app-timeline-entry__dateline">
    <% if entry.created_by %>
      <%= t "documents.history.dateline_user",
          date: entry.created_at.to_fs(:date),
          time: entry.created_at.to_fs(:time),
          user: entry.created_by.name %>
    <% else %>
      <%= t "documents.history.dateline_no_user",
          date: entry.created_at.to_fs(:date),
          time: entry.created_at.to_fs(:time) %>
    <% end %>
  </div>

  <% if timeline_entry_content %>
    <div class="app-timeline-entry__content">
      <%= timeline_entry_content %>
    </div>
  <% end %>
</div>
