<% whitehall_timeline_entry_content = capture do %>
  <% if entry.details.internal_note? && entry.details.contents["body"].present? %>
    <%= simple_format(escape_and_link(entry.details.contents["body"])) %>
  <% end %>

  <% if entry.details.fact_check_request? && entry.details.contents["instructions"].present? %>
    <%= simple_format(escape_and_link(entry.details.contents["instructions"])) %>
    <%= simple_format(escape_and_link(entry.details.contents["email_address"])) %>
  <% end %>

  <% if entry.details.fact_check_response? && entry.details.contents["comments"].present? %>
    <%= simple_format(escape_and_link(entry.details.contents["comments"])) %>
    <%= simple_format(escape_and_link(entry.details.contents["email_address"])) %>
  <% end %>
<% end %>

<div class="app-timeline-entry <%= "app-timeline-entry--highlighted" if whitehall_timeline_entry_content %>">
  <% if entry.details.imported_from_whitehall? %>
    <%= render "govuk_publishing_components/components/notice", {
      title: t("documents.history.entry_types.whitehall_migration.#{entry.details.entry_type}"),
      description_text: entry.created_at.to_fs(:date),
    } %>
  <% else %>
    <h4 class="govuk-heading-s">
      <%= t "documents.history.entry_types.whitehall_migration.#{entry.details.entry_type}" %>
    </h4>

    <div class="app-timeline-entry__dateline">
      <% if entry.created_by %>
        <%= t "documents.history.dateline_user",
            date: entry.created_at.to_fs(:date),
            time: entry.created_at.to_fs(:time),
            user: entry.created_by.name %>
      <% else %>
        <%= t "documents.history.dateline_no_user",
            date: entry.created_at.to_fs(:date),
            time: entry.created_at.to_fs(:time) %>
      <% end %>
    </div>

    <% if whitehall_timeline_entry_content %>
      <div class="app-timeline-entry__content">
        <%= whitehall_timeline_entry_content %>
      </div>
    <% end %>
  <% end %>
</div>
