<% whitehall_timeline_entry_content = capture do %>
  <% if entry.details.internal_note? && entry.details.contents["body"].present? %>
    <%= simple_format(escape_and_link(entry.details.contents["body"])) %>
  <% end %>
<% end %>

<div class="app-timeline-entry <%= "app-timeline-entry--highlighted" if whitehall_timeline_entry_content %>">
  <% if entry.details.imported_from_whitehall? %>
    <%= render "govuk_publishing_components/components/notice", {
      title: t("documents.history.entry_types.whitehall_migration.#{entry.details.entry_type}"),
      description_text: format_date(entry.created_at)
    } %>
  <% else %>
    <h4 class="govuk-heading-s">
      <%= t "documents.history.entry_types.whitehall_migration.#{entry.details.entry_type}" %>
    </h4>

    <div class="app-timeline-entry__dateline">
      <%= format_date_at_time(entry.created_at) %>
      <% if entry.created_by %>
        <%= t "documents.history.by" %> <%= entry.created_by.name %>
      <% end %>
    </div>

    <% if whitehall_timeline_entry_content %>
      <div class="app-timeline-entry__content">
        <%= whitehall_timeline_entry_content %>
      </div>
    <% end %>
  <% end %>
</div>
