<% content_for :back_link, render_back_link(href: document_images_path(@document)) %>
<% content_for :title, t("document_images.crop.title", title: @document.title_or_fallback) %>

<%= form_tag(crop_document_image_path(@document, @image), method: :patch) do %>
  <%= hidden_field_tag :wizard, params[:wizard] %>

  <%= render "/components/image_cropper", {
    id: "crop-image",
    src: url_for(@image.blob),
    no_js_src: url_for(@image.crop_variant('960x640')),
    exact_dimensions: @image.at_exact_dimensions?,
    alt_text: @image.alt_text,
    crop_x: @image.crop_x,
    crop_y: @image.crop_y,
    crop_width: @image.crop_width,
    crop_height: @image.crop_height,
  } %>

  <div class="app-js-only">
    <%= render "govuk_publishing_components/components/button", {
      text: (@image.at_exact_dimensions?) ? "Continue" : "Crop image",
      margin_bottom: true
    } %>
  </div>

  <div class="app-no-js">
    <%= render "govuk_publishing_components/components/button", {
      text: "Continue",
      margin_bottom: true
    } %>
  </div>

<% end %>
