<% content_for :title, t("document_images.edit.title", title: @document.title_or_fallback) %>
<% content_for :back_link, document_images_path(@document) %>

<%= render "components/image_meta", {
  id: "selected-image",
  src: url_for(@image.thumbnail),
  alt_text: @image.alt_text,
  no_border: true
} %>

<% submit_path = params[:wizard] == "lead_image" ?
    choose_document_lead_image_path(@document, @image) :
    update_document_image_path(@document, @image) %>

<%= form_tag(submit_path, method: :patch) do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("document_images.edit.form_labels.alt_text"),
          bold: true
        },
        name: "alt_text",
        value: @image.alt_text,
        data: {
          "contextual-guidance": "alt-text-guidance"
        }
      } %>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual_guidance", {
        id: "alt-text-guidance",
        title: t("document_images.edit.form_labels.alt_text"),
      } do %>
        <%= render "govuk_publishing_components/components/govspeak" do %>
          <%= govspeak_to_html t("document_images.edit.guidance.alt_text") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("document_images.edit.form_labels.caption"),
          bold: true
        },
        name: "caption",
        value: @image.caption,
        data: {
          "contextual-guidance": "caption-guidance"
        }
      } %>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual_guidance", {
        id: "caption-guidance",
        title: t("document_images.edit.form_labels.caption"),
      } do %>
        <%= render "govuk_publishing_components/components/govspeak" do %>
          <%= govspeak_to_html t("document_images.edit.guidance.caption") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("document_images.edit.form_labels.credit"),
          bold: true
        },
        name: "credit",
        value: @image.credit,
        data: {
          "contextual-guidance": "credit-guidance"
        }
      } %>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual_guidance", {
        id: "credit-guidance",
        title: t("document_images.edit.form_labels.credit"),
      } do %>
        <%= render "govuk_publishing_components/components/govspeak" do %>
          <%= govspeak_to_html t("document_images.edit.guidance.credit") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render "govuk_publishing_components/components/button", {
    margin_bottom: true,
    text: params[:wizard] == "lead_image" ? "Save and choose" : "Save details"
  } %>
<% end %>
