<% content_for :title, t("document_images.index.title", title: @document.title_or_fallback) %>
<% content_for :back_link, render_back_link(href: document_path(@document)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-pane">
      <% upload_image_heading = capture do %>
        <h2 class="govuk-heading-m">
          <%= t("document_images.index.upload_image") %>
        </h2>
      <% end %>

      <%= form_tag(
        create_document_image_path(@document),
        multipart: true,
        data: { gtm: "image-upload-submit" },
      ) do %>
        <%= hidden_field_tag :wizard, "lead_image" %>

        <%= render "govuk_publishing_components/components/file_upload", {
          label: {
            text: upload_image_heading,
          },
          name: "image"
        } %>

        <%= render "govuk_publishing_components/components/govspeak" do %>
          <%= govspeak_to_html t("document_images.index.description_govspeak") %>
        <% end %>

        <%= render "govuk_publishing_components/components/button", {
          text: "Upload"
        } %>
      <% end %>
    </div>

    <%= render "lead_image" %>

    <%= render "image_list" %>
  </div>
</div>
