<%
  id ||= "image-meta-#{SecureRandom.hex(4)}"
  alt_text ||= nil
  actions ||= []
  meta ||= {}
  lead_image ||= false
  no_border ||= false

  if meta.key?(:alt_text)
    alt_text = meta[:alt_text]
  end
%>
<div class="app-c-image-meta <%= 'app-c-image-meta--no-border' if no_border %>" id="<%= id %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <%= tag.img class: "app-c-image-meta__image",
        src: src,
        alt: alt_text
      %>

    </div>
    <div class="govuk-grid-column-two-thirds">

      <% if meta.any? %>
        <%= render "components/metadata", {
          inline: true,
          items: [
            {
              field: t("documents.show.lead_image.fields.alt_text"),
              value: meta[:alt_text]
            },
            {
              field: t("documents.show.lead_image.fields.caption"),
              value: meta[:caption]
            },
            {
              field: t("documents.show.lead_image.fields.credit"),
              value: meta[:credit]
            }
          ]
        } %>
      <% end %>

      <% if lead_image %>
        <div class="app-c-image-meta__lead-image-section">
          <div class="app-c-image-meta__lead-image-tag">Lead image</div>
          <div class="app-c-image-meta__remove-button"><%= actions[:remove_button] %></div>
        </div>
      <% end %>

    </div>
  </div>

  <% if actions.any? %>
    <ul class="app-c-image-meta__actions">
      <% if actions[:choose_button] %>
        <li class="app-c-image-meta__choose-image"><%= actions[:choose_button] %></li>
      <% end %>
      <li><%= link_to("Edit crop", actions[:crop_link], class: "govuk-link") %></li>
      <li><%= link_to("Edit details", actions[:edit_link], class: "govuk-link") %></li>
    </ul>
  <% end %>
</div>
