<%
  id ||= "image-meta-#{SecureRandom.hex(4)}"
  alt_text ||= nil
  actions ||= []
  meta ||= {}
  lead_image ||= false
  no_border ||= false
  primary_action ||= nil
  secondary_actions ||= []

  if meta.key?(:alt_text)
    alt_text = meta[:alt_text]
  end
%>
<div class="app-c-image-meta <%= 'app-c-image-meta--no-border' if no_border %>" id="<%= id %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <%= tag.img class: "app-c-image-meta__image",
        src: src,
        alt: alt_text
      %>

    </div>
    <div class="govuk-grid-column-two-thirds">

      <% if meta.any? %>
        <%= render "components/metadata", {
          inline: true,
          items: [
            {
              field: t("documents.show.lead_image.fields.alt_text"),
              value: meta[:alt_text]
            },
            {
              field: t("documents.show.lead_image.fields.caption"),
              value: meta[:caption]
            },
            {
              field: t("documents.show.lead_image.fields.credit"),
              value: meta[:credit]
            }
          ]
        } %>
      <% end %>

      <% if primary_action %>
        <div class="app-c-image-meta__primary-action-section">
          <% if primary_action[:tag] %>
            <span class="app-c-image-meta__primary-action-tag">
              <%= primary_action[:tag] %>
            </span>
          <% end %>

          <%= primary_action[:action] %>
        </div>
      <% end %>

      <% if lead_image %>
          <div><%= primary_action %></div>
        </div>
      <% end %>
    </div>
  </div>

  <% if secondary_actions.any? %>
    <ul class="app-c-image-meta__actions">
      <% secondary_actions.each do |action| %>
        <li><%= action %></li>
      <% end %>
    </ul>
  <% end %>
</div>
