<%
  textarea ||= {}
  edit_button_text ||= 'Edit'
  preview_button_text ||= 'Preview'
%>
<div class="app-c-markdown-editor" data-module="markdown-editor" data-govspeak-path="<%= govspeak_preview_path %>">
  <%= render "govuk_publishing_components/components/label", {
      text: label[:text],
      html_for: textarea[:id]
  } %>
  <div class="app-c-markdown-editor__container">
    <div class="app-c-markdown-editor__head js-markdown-editor__head">
      <div class="app-c-markdown-editor__preview-toggle">
        <button type="button" class="app-c-markdown-editor__button app-c-markdown-editor__button--muted js-markdown-edit-button"><%= edit_button_text %></button>
        <button type="button" class="app-c-markdown-editor__button js-markdown-preview-button"><%= preview_button_text %></button>
      </div>
    </div>

    <div class="app-c-markdown-editor__input js-markdown-editor-input">
      <%= render "govuk_publishing_components/components/textarea", textarea %>
    </div>

    <div class="app-c-markdown-editor__preview js-markdown-preview-body">
    <%= render "govuk_publishing_components/components/govspeak", { } do %>
      <div class="govuk-textarea"></div>
    <% end %>
    </div>
  </div>
</div>
