<%
  textarea ||= {}
  edit_button_text ||= 'Edit markdown'
  preview_button_text ||= 'Preview markdown'
  contextual_guidance ||= nil
  govspeak_path ||= nil
  edition ||= nil
  error_items ||= []
  paste_html_to_govspeak ||= false

  component_classes = %w[app-c-markdown-editor govuk-form-group]
  component_classes << "govuk-form-group--error" if error_items.any?

  insert_items = []

  textarea[:data] = textarea.fetch(:data, {})
                            .merge({ "paste-html-to-govspeak": paste_html_to_govspeak })

  if edition
    insert_items = [
      {
        text: "Attachment",
        href: file_attachments_path(edition.document),
        target: "_blank",
        data_attributes: {
          module: "inline-attachment-modal",
          "modal-action": "open",
          gtm: "open-inline-attachment-modal",
        }
      },
      {
        text: "Contact",
        button_options: {
          value: "add_contact",
          name: "submit",
        },
      },
      {
        text: "Image",
        href: images_path(edition.document),
        target: "_blank",
        data_attributes: {
          module: "inline-image-modal",
          "modal-action": "open",
        }
      },
      {
        text: "Video",
        href: "https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown#video",
        target: "_blank",
        data_attributes: {
          module: "video-embed-modal",
          gtm: "open-video-embed-modal",
          "modal-action": "open",
          "modal-action-url": video_embed_path
        }
      }
    ]
  end
%>
<%= tag.div class: component_classes,
  data: {
    "module": "markdown-editor",
    "govspeak-path": govspeak_path,
    "contextual-guidance": contextual_guidance,
  } do %>
  <%= render "govuk_publishing_components/components/label", {
      html_for: textarea[:id]
  }.merge(label.symbolize_keys) %>

  <% if error_items.any? %>
    <%= render "govuk_publishing_components/components/error_message", {
      items: error_items,
    } %>
  <% end %>

  <div class="app-c-markdown-editor__container js-markdown-editor__container">
    <div class="app-c-markdown-editor__head js-markdown-editor__head">
      <div class="app-c-markdown-editor__preview-toggle">
        <button type="button" class="app-c-markdown-editor__button app-c-markdown-editor__button--muted js-markdown-edit-button"><%= edit_button_text %></button>
        <button type="button" class="app-c-markdown-editor__button js-markdown-preview-button"><%= preview_button_text %></button>
      </div>
      <div class="app-c-markdown-editor__toolbar">
        <markdown-toolbar class="app-c-markdown-editor__toolbar-group" for="<%= textarea[:id] %>">
          <md-header-2 class="app-c-markdown-editor__toolbar-button" title="Heading level 2" aria-label="Heading level 2" data-gtm="markdown-toolbar-h2">
            <%= render "components/markdown_editor/heading_two.svg" %>
          </md-header-2>
          <md-header-3 class="app-c-markdown-editor__toolbar-button" title="Heading level 3" aria-label="Heading level 3" data-gtm="markdown-toolbar-h3">
            <%= render "components/markdown_editor/heading_three.svg" %>
          </md-header-3>
          <md-link class="app-c-markdown-editor__toolbar-button" title="Link" aria-label="Link" data-gtm="markdown-toolbar-link">
            <%= render "components/markdown_editor/link.svg" %>
          </md-link>
          <md-quote class="app-c-markdown-editor__toolbar-button" title="Blockquote" aria-label="Blockquote" data-gtm="markdown-toolbar-blockquote">
            <%= render "components/markdown_editor/blockquote.svg" %>
          </md-quote>
          <md-ordered-list class="app-c-markdown-editor__toolbar-button" title="Numbered list" aria-label="Numbered list" data-gtm="markdown-toolbar-list">
            <%= render "components/markdown_editor/numbered_list.svg" %>
          </md-ordered-list>
          <md-unordered-list class="app-c-markdown-editor__toolbar-button" title="Bullets" aria-label="Bullets" data-gtm="markdown-toolbar-bullets">
            <%= render "components/markdown_editor/bullets.svg" %>
          </md-unordered-list>
          <% if insert_items.any? %>
            <%= render "components/toolbar_dropdown", {
              title: "Insert...",
              align: 'right',
              items: insert_items
            } %>
          <% end %>
        </markdown-toolbar>
      </div>
    </div>

    <div class="app-c-markdown-editor__input js-markdown-editor-input">
      <%= render "govuk_publishing_components/components/textarea", textarea %>
    </div>

    <div class="app-c-markdown-editor__preview js-markdown-preview-body">
      <div class="govuk-textarea"></div>
    </div>
  </div>
<% end %>
