<%
  textarea ||= {}
  edit_button_text ||= 'Edit markdown'
  preview_button_text ||= 'Preview markdown'
  contextual_guidance ||= nil
  govspeak_path ||= nil
%>
<%= tag.div class: "app-c-markdown-editor",
  data: {
    "module": "markdown-editor",
    "govspeak-path": govspeak_path,
    "contextual-guidance": contextual_guidance,
  } do %>
  <%= render "govuk_publishing_components/components/label", {
      html_for: textarea[:id]
  }.merge(label.symbolize_keys) %>
  <div class="app-c-markdown-editor__container js-markdown-editor__container">
    <div class="app-c-markdown-editor__head js-markdown-editor__head">
      <div class="app-c-markdown-editor__preview-toggle">
        <button type="button" class="app-c-markdown-editor__button app-c-markdown-editor__button--muted js-markdown-edit-button"><%= edit_button_text %></button>
        <button type="button" class="app-c-markdown-editor__button js-markdown-preview-button"><%= preview_button_text %></button>
      </div>
      <div class="app-c-markdown-editor__toolbar">
        <markdown-toolbar class="app-c-markdown-editor__toolbar-group" for="<%= textarea[:id] %>">
          <md-header-2 class="app-c-markdown-editor__toolbar-button" title="Heading level 2" aria-label="Heading level 2" data-gtm="markdown-toolbar-selection">
            <%= render "components/markdown_editor/heading_two.svg" %>
          </md-header-2>
          <md-header-3 class="app-c-markdown-editor__toolbar-button" title="Heading level 3" aria-label="Heading level 3" data-gtm="markdown-toolbar-selection">
            <%= render "components/markdown_editor/heading_three.svg" %>
          </md-header-3>
          <md-link class="app-c-markdown-editor__toolbar-button" title="Link" aria-label="Link" data-gtm="markdown-toolbar-selection">
            <%= render "components/markdown_editor/link.svg" %>
          </md-link>
          <md-quote class="app-c-markdown-editor__toolbar-button" title="Blockquote" aria-label="Blockquote" data-gtm="markdown-toolbar-selection">
            <%= render "components/markdown_editor/blockquote.svg" %>
          </md-quote>
          <md-ordered-list class="app-c-markdown-editor__toolbar-button" title="Numbered list" aria-label="Numbered list" data-gtm="markdown-toolbar-selection">
            <%= render "components/markdown_editor/numbered_list.svg" %>
          </md-ordered-list>
          <md-unordered-list class="app-c-markdown-editor__toolbar-button" title="Bullets" aria-label="Bullets" data-gtm="markdown-toolbar-selection">
            <%= render "components/markdown_editor/bullets.svg" %>
          </md-unordered-list>
          <% if current_user.permissions.include?(User::PRE_RELEASE_FEATURES_PERMISSION) %>
            <%= render "components/toolbar_dropdown", {
              title: "Insert...",
              align: 'right',
              items: [
                {
                  text: "Contact",
                  value: "add_contact",
                  name: "submit"
                },
                {
                  text: "Image",
                  value: "add_image",
                  data_attributes: {
                    module: "inline-image-modal",
                    "modal-action": "open",
                    "modal-action-url": images_path(@document)
                  }
                }
              ]
            } %>
          <% else %>
            <button name="submit" type="submit" value="add_contact" class="app-c-markdown-editor__toolbar-button app-c-markdown-editor__toolbar-button--text app-c-markdown-editor__toolbar-button--end">Add contact</button>
          <% end %>
        </markdown-toolbar>
      </div>
    </div>

    <div class="app-c-markdown-editor__input js-markdown-editor-input">
      <%= render "govuk_publishing_components/components/textarea", textarea %>
    </div>

    <div class="app-c-markdown-editor__preview js-markdown-preview-body">
      <%= render "govuk_publishing_components/components/govspeak", { } do %>
        <div class="govuk-textarea"></div>
      <% end %>
    </div>
  </div>
<% end %>
