<%= render "govuk_publishing_components/components/details", title: "Share" do %>
  <%= render "govuk_publishing_components/components/copy_to_clipboard",
    label: "Copy and send this link to someone and they’ll be able to preview your draft on GOV.UK.",
    copyable_content: url,
    button_text: "Copy link" %>

  <%= link_to url, url %>
<% end %>

<div class="app-c-preview">
  <% mobile_preview = capture do %>
    <%= tag.div class: "app-c-preview__mobile" do %>
      <%= tag.iframe class: "app-c-preview__mobile-iframe", src: url, title: "Preview of the page on mobile" %>
    <% end %>
  <% end %>

  <% desktop_and_tablet = capture do %>
    <%= tag.iframe class: "app-c-preview__desktop-preview", src: url, title: "Preview of the page on desktop or tablet" %>
  <% end %>

  <% snippet_preview = capture do %>
    <%= tag.div class: "app-c-preview__google" do %>
      <%= link_to "#{title} - GOV.UK", base_path, class: "app-c-preview__google-title" %>
      <%= tag.div "https://www.gov.uk#{base_path}", class: "app-c-preview__google-url" %>
      <%= tag.div truncate(description, length: 280), class: "app-c-preview__google-description" %>
    <% end %>
  <% end %>

  <%= render "govuk_publishing_components/components/tabs", {
    tabs: [
      {
        id: "mobile",
        label: "Mobile",
        content: mobile_preview,
      },
      {
        id: "desktop",
        label: "Desktop and tablet",
        content: desktop_and_tablet,
      },
      {
        id: "search-engine",
        label: "Search engine snippet",
        content: snippet_preview,
      },
    ]
  } %>
</div>
