<%
  utm_uri = Addressable::URI.parse(url)
  utm_uri.query_values = (utm_uri.query_values || {}).merge(utm_content: "preview-link")
%>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/details", title: "Share document preview for fact check or approval" do %>
      <%= render "govuk_publishing_components/components/copy_to_clipboard",
        label: "Send this link to someone so they can see a preview of how the document will appear on GOV.UK. No password is needed.",
        copyable_content: utm_uri.to_s,
        button_text: "Copy link",
        button_data_attributes: {
          gtm: "copy-url-for-preview"
        },
        input_data_attributes: {
          gtm: "url-for-preview-input",
          "gtm-copy-paste-tracking": true
        }
      %>
    <% end %>
  </div>
</div>

<div class="app-c-preview">
  <% mobile_preview = capture do %>
    <%= tag.div class: "app-c-preview__mobile" do %>
      <%= tag.iframe class: "app-c-preview__mobile-iframe", src: url, title: "Preview of the page on mobile" %>
    <% end %>
  <% end %>

  <% desktop_and_tablet = capture do %>
    <%= tag.iframe class: "app-c-preview__desktop-preview", src: url, title: "Preview of the page on desktop or tablet" %>
  <% end %>

  <% snippet_preview = capture do %>
    <%= tag.div class: "app-c-preview__google" do %>
      <%= link_to "#{title} - GOV.UK", base_path, class: "app-c-preview__google-title" %>
      <%= tag.div "https://www.gov.uk#{base_path}", class: "app-c-preview__google-url" %>
      <%= tag.div truncate(description, length: 280), class: "app-c-preview__google-description" %>
    <% end %>
  <% end %>

  <%= render "govuk_publishing_components/components/tabs", {
    tabs: [
      {
        id: "mobile",
        label: "Mobile",
        content: mobile_preview,
        tab_data_attributes: { gtm: "preview-mobile" },
      },
      {
        id: "desktop",
        label: "Desktop and tablet",
        content: desktop_and_tablet,
        tab_data_attributes: { gtm: "preview-desktop" }
      },
      {
        id: "search-engine",
        label: "Search engine snippet",
        content: snippet_preview,
        tab_data_attributes: { gtm: "preview-search-engine" },
      },
    ]
  } %>
</div>
