<%
  id ||= nil
  title ||= nil
  block ||= nil
  items ||= []
%>

<%= tag.div class: "app-c-summary", id: id do %>
  <% if title %>
    <%= tag.h2 title[:text], class:"govuk-heading-m" %>
    <% if title[:change_url] %>
      <%= link_to title[:change_url], class: "app-c-summary__change-section-link",
        title: "Change #{title[:text]}",
        data: { gtm: "content-change" } do %>
        Change<span class="govuk-visually-hidden"> <%= title[:text] %></span>
      <% end %>
    <% end %>
  <% end %>

  <% if items.any? %>
    <%= tag.dl class: "app-c-summary__list app-c-summary__list--short" do %>
      <% items.each do |item| %>
        <%= tag.div class: "app-c-summary__contents" do %>

          <%= tag.dt item[:field], class:"app-c-summary__question" %>
          <%= tag.dd item[:value], class:"app-c-summary__answer" %>

          <% if item[:change_url] %>
            <%= tag.dd link_to, class:"app-c-summary__change" do %>
              <%= link_to item[:change_url], class:"app-c-summary__change-link" do %>
                Change<span class="govuk-visually-hidden"> <%= item[:field] %></span>
              <% end %>
            <% end %>
          <% end %>

        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= tag.div block, class: "app-c-summary__block" if block %>
<% end %>
