<%
  id ||= nil
  title ||= nil
  edit ||= {}
  block ||= nil
  items ||= []
%>

<%= tag.div class: "app-c-summary", id: id do %>
  <% if title %>
    <%= tag.h3 title, class: "govuk-heading-m" %>
    <% if edit.any? %>
      <%= link_to edit.fetch(:href),
                  class: "app-c-summary__edit-section-link",
                  title: "Edit #{title}",
                  data: edit.fetch(:data_attributes, {}) do %>
        Edit<span class="govuk-visually-hidden"> <%= title %></span>
      <% end %>
    <% end %>
  <% end %>

  <% if items.any? %>
    <%= tag.dl class: "app-c-summary__list app-c-summary__list--short" do %>
      <% items.each do |item| %>
        <%= tag.div class: "app-c-summary__contents" do %>

          <%= tag.dt item[:field], class:"app-c-summary__question" %>
          <%= tag.dd item[:value], class:"app-c-summary__answer" %>

          <% if item.fetch(:edit, {}).any? %>
            <%= tag.dd link_to, class:"app-c-summary__edit" do %>
              <%= link_to item[:edit].fetch(:href),
                          class: "app-c-summary__edit-link",
                          title: "Edit #{item[:field]}",
                          data: item[:edit].fetch(:data_attributes, {}) do %>
                Edit<span class="govuk-visually-hidden"> <%= item[:field] %></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= tag.div block, class: "app-c-summary__block" if block %>
<% end %>
