<%
  title ||= false
  description ||= false
  items ||= []
  id ||= "app-c-warning-summary-#{SecureRandom.hex(4)}"
%>

<div class="app-c-warning-summary" id="<%= id %>">
  <h2 class="app-c-warning-summary__title">
    <%= title %>
  </h2>

  <div class="app-c-warning-summary__body">
    <% if description %>
      <%= description %>
    <% end %>

    <% if items.any? %>
    <ul class="govuk-list app-c-warning-summary__list">
      <% items.each_with_index do |item, index| %>
          <% if item[:href] %>
            <li><%= link_to item[:text], item[:href], class: "govuk-link govuk-link--no-visited-state" %></li>
          <% else %>
            <li><%= item[:text] %></li>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
