<% if @edition.status.published_but_needs_2i? %>
  <% content_for :back_link, render_back_link(href: document_path(@edition.document)) %>
<% else %>
  <% content_for :back_link, render_back_link(text: "Back to document list", href: documents_path) %>
<% end %>

<% content_for :browser_title, t("publish.published.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% public_url = edition_public_url(@edition) %>

    <% if @edition.status.published_but_needs_2i? %>
      <%= render "govuk_publishing_components/components/panel", {
        title: t("publish.published.published_without_review.title")
      } %>

      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("publish.published.published_without_review.body_govspeak", title: @edition.title) %>
        <%= link_to(strip_scheme_from_url(public_url), public_url, class: "govuk-link govuk-link--no-visited-state") %>

        <%= govspeak_to_html t("publish.published.published_without_review.what_to_do_govspeak") %>
      <% end %>

      <%= render "govuk_publishing_components/components/copy_to_clipboard",
        label: t("publish.published.published_without_review.send_label"),
        copyable_content: document_url(@edition.document,
                                       utm_source: "2i-link",
                                       utm_medium: "anonymous",
                                       utm_campaign: "govuk-publishing"),
        button_text: "Copy link",
        button_data_attributes: {
          gtm: "copy-published-content-link"
        },
        input_data_attributes: {
          "gtm-suffix": "published-content-link-input",
          "gtm-copy-paste-tracking": true
        }
      %>
    <% else %>
      <%= render "govuk_publishing_components/components/panel", {
        title: t("publish.published.reviewed.title")
      } %>

      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("publish.published.reviewed.body_govspeak", title: @edition.title) %>

        <%= link_to(strip_scheme_from_url(public_url), public_url, class: "govuk-link govuk-link--no-visited-state") %>
      <% end %>
    <% end %>
  </div>
</div>
