<% if @document.review_state == "reviewed" %>
  <% content_for :back_link, render_back_link(text: "Back to document list", href: documents_path) %>
<% else %>
  <% content_for :back_link, render_back_link(href: document_path(@document)) %>
<% end %>

<% content_for :browser_title, t("publish.published.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if @document.review_state == "reviewed" %>
      <%= render "govuk_publishing_components/components/panel", {
        title: t("publish.published.reviewed.title")
      } %>

      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("publish.published.reviewed.body_govspeak", title: @document.title) %>

        <% public_url = DocumentUrl.new(@document).public_url %>
        <%= link_to(strip_scheme_from_url(public_url), public_url, class: "govuk-link govuk-link--no-visited-state") %>
      <% end %>
    <% else %>
      <%= render "govuk_publishing_components/components/panel", {
        title: t("publish.published.published_without_review.title")
      } %>

      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("publish.published.published_without_review.body_govspeak", title: @document.title) %>
        <% public_url = DocumentUrl.new(@document).public_url %>
        <%= link_to(strip_scheme_from_url(public_url), public_url, class: "govuk-link govuk-link--no-visited-state") %>

        <%= govspeak_to_html t("publish.published.published_without_review.what_to_do_govspeak") %>
      <% end %>

      <%= render "govuk_publishing_components/components/copy_to_clipboard",
        label: t("publish.published.published_without_review.send_label"),
        copyable_content: document_url(@document, utm_content: "2i-link"),
        button_text: "Copy link",
        button_data_attributes: { gtm: "published-content-copy-link-cta" } %>
    <% end %>
  </div>
</div>
