<% content_for :back_link, render_back_link(href: document_path(@document)) %>
<% title = @document.current_edition&.title ? "‘#{@document.current_edition.title}’" : @document.to_param %>
<% content_for :title, "Revision history for #{title}" %>

<% @revisions.each.with_index do |revision, index| %>
  <% unless index.zero? %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <% end %>

  <div>
    <%
      edition_text = if revision.editions.any? { |e| e.live? && e.revision_id == revision.id }
                       " - Live"
                     elsif revision.editions.any? { |e| e.current? && e.revision_id == revision.id }
                       " - Draft"
                     end
    %>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
      Revision <%= revision.number %><%= edition_text %>
    </h2>
    <p class="govuk-caption-m govuk-!-margin-top-0">
      Created at <%= revision.created_at.strftime("%d %B %Y at %l:%M%P") %>
      <% if revision.created_by %>
        by <%= revision.created_by.name %>
      <% end %>
    </p>

    <%
      difference = revision_diff(revision).map do |diff|
        field = "#{diff[0]} #{diff[1]}"
        {
          field: field,
          value: ("<code>" + diff.last.inspect + "</code>").html_safe,
        }
      end

      edition_field = revision.editions.to_a.count == 1 ? "Edition" : "Editions"
      edition_value = revision.editions.map(&:number).to_sentence
      edition_summary = [{ field: edition_field, value: edition_value }]

      status_changes = revision.statuses.select { |s| s.revision_at_creation_id == revision.id }
      inherited_statuses = revision.statuses - status_changes

      status_change_summary = if status_changes.any?
                                list = status_changes.map do |s|
                                  "<li><code>#{s.state}</code> - created at #{s.created_at.strftime('%d %B %Y at %l:%M%P')}</li>"
                                end
                                [
                                  {
                                    field: status_changes.count == 1 ? "Status change" : "Status changes",
                                    value: %{<ul class="govuk-list">#{list.join("")}</ul>}.html_safe,
                                  }
                                ]
                              else
                                []
                              end

      inherited_status_summary = if inherited_statuses.any?
                                   list = inherited_statuses.map do |s|
                                     "<li><code>#{s.state}</code> - created at #{s.created_at.strftime('%d %B %Y at %l:%M%P')}</li>"
                                   end
                                   [
                                     {
                                       field: "Inherited status",
                                       value: %{<ul class="govuk-list">#{list.join("")}</ul>}.html_safe,
                                     }
                                   ]
                                 else
                                   []
                                 end
      summary = difference + edition_summary + status_change_summary + inherited_status_summary
    %>
    <%= render "components/summary", { items: summary } %>
  </div>
<% end %>

<% pages = { } %>

<% pages[:previous_page] = { url: debug_document_path(page: @revisions.prev_page),
                             title: "Previous page" } if @revisions.prev_page %>

<% pages[:next_page] = { url: debug_document_path(page: @revisions.next_page),
                         title: "Next page" } if @revisions.next_page %>

<%= render "govuk_publishing_components/components/previous_and_next_navigation", pages %>
