<% confirmation = capture do %>
  <%= form_tag(unwithdraw_path(@edition.document),
               method: :post,
               data: { gtm: "confirm-unwithdraw" }) do %>
    <p><%= t("documents.show.unwithdraw.description") %></p>

    <%= render "govuk_publishing_components/components/button", {
      text: t("documents.show.unwithdraw.confirm"),
      destructive: true
    } %>

    <%= link_to "Cancel",
                document_path(@edition.document),
                class: "govuk-link govuk-link--no-visited-state app-link--inline",
                data: { gtm: "cancel-unwithdraw" } %>

  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/error_alert", {
  message: t("documents.show.unwithdraw.title"),
  description: confirmation,
} %>
