<% textarea = capture do %>
    <%= render "govuk_publishing_components/components/textarea", {
      label: {
        text: t("documents.edit.change_note.title"),
      },
      name: "document[change_note]",
      value: @document.change_note,
      rows: 4,
      data: {
        "contextual-guidance": "change-note-guidance"
      }
    } %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% legend_text = tag.p(
      tag.strong(t("documents.edit.update_type.title")),
      class: "govuk-!-margin-bottom-3")
    %>
    <%= render "govuk_publishing_components/components/fieldset", legend_text: legend_text, data: { "contextual-guidance": "change-note-guidance" } do %>
      <%= render "govuk_publishing_components/components/radio", {
        name: "document[update_type]",
        id: "update-type",
        items: [
          {
            value: "major",
            text: t("documents.edit.update_type.major_name"),
            conditional: textarea,
            checked: @document.update_type == "major",
          },
          {
            value: "minor",
            text: t("documents.edit.update_type.minor_name"),
            checked: @document.update_type == "minor",
          }
        ]
      } %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "components/contextual_guidance", {
      id: "change-note-guidance",
      title: t("documents.edit.change_note.guidance_title"),
    } do %>
      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("documents.edit.change_note.guidance") %>
      <% end %>
    <% end %>
  </div>
</div>
