<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if flash[:submitted_for_review] %>
      <%= render "versioned/documents/show/submitted_for_review" %>
    <% end %>

    <%= render "versioned/documents/show/requirements" %>
    <%= render "versioned/documents/show/contents" %>

    <% if @edition.document_type.lead_image %>
      <%= render "versioned/documents/show/lead_image" %>
    <% end %>

    <% if @edition.document_type.topics %>
      <%= render "versioned/documents/show/topics" %>
    <% end %>

    <%= render "versioned/documents/show/tags" %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "versioned/documents/show/actions" %>
    <%= render "versioned/documents/show/document_metadata" %>
  </div>
</div>
