<% content_for :back_link, render_back_link(href: document_path(@edition.document)) %>
<% content_for :title, t("topics.edit.title", title: @edition.title_or_fallback) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= t("topics.edit.description") %></p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="gem-c-related-navigation">
      <nav role="navigation" class="gem-c-related-navigation__nav-section">
        <ul class="gem-c-related-navigation__link-list">
          <li class="gem-c-related-navigation__link">
            <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/creating-and-updating-pages#add-topic-tagging"
               class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other"
               data-gtm="topic-tagging-guidance"><%= t("topics.edit.link_guidance") %></a>
          </li>
          <li class="gem-c-related-navigation__link">
            <a href="<%= Plek.new.external_url_for('support') + '/taxonomy_new_topic_request/new' %>"
               class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other"
               data-gtm="new-topic-request"><%= t("topics.edit.link_suggest_new") %></a>
          </li>
          <li class="gem-c-related-navigation__link">
            <a href="<%= Plek.new.external_url_for('support') + '/taxonomy_change_topic_request/new' %>"
               class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other"
               data-gtm="change-topic-request"><%= t("topics.edit.link_suggest_change") %></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<miller-columns-selected class="miller-columns-selected" id="selected-items" for="miller-columns"></miller-columns-selected>

<%= form_tag update_topics_path(@edition.document), data: { gtm: "confirm-edit-topics" }, method: :patch do %>
  <h2 class="govuk-heading-m"><%= t("topics.edit.selected_title") %></h2>

  <%= render "govuk_publishing_components/components/tabs", {
    tabs: [
      {
        id: "manual",
        label: "Manual",
        content: render("topics/miller_columns"),
      },
      {
        id: "suggested",
        label: "Suggested<strong class='govuk-tag govuk-phase-banner__content__tag topic-suggestions__content-tag'>beta</strong>".html_safe,
        content: render("topics/suggestions"),
      }
    ]
  } %>

  <%= hidden_field_tag :version, @version %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/details", {
        title: t("topics.edit.warning_title")
      } do %>
        <div data-gtm="topic-edit-warning" data-gtm-visibility-tracking="true">
          <%= t("topics.edit.warning_description") %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render "govuk_publishing_components/components/button", {
    text: "Save", margin_bottom: true
  } %>
<% end %>
