<% content_for :back_link, render_back_link(href: document_path(@edition.document)) %>
<% content_for :title, t("topics.edit.title", title: @edition.title_or_fallback) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= t("topics.edit.description") %></p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="gem-c-related-navigation">
      <nav role="navigation" class="gem-c-related-navigation__nav-section">
        <ul class="gem-c-related-navigation__link-list">
          <li class="gem-c-related-navigation__link">
            <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/creating-and-updating-pages#add-topic-tagging"
               class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other"
               data-gtm="topic-tagging-guidance"><%= t("topics.edit.link_guidance") %></a>
          </li>
          <li class="gem-c-related-navigation__link">
            <a href="<%= Plek.new.external_url_for('support') + '/taxonomy_new_topic_request/new' %>"
               class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other"
               data-gtm="new-topic-request"><%= t("topics.edit.link_suggest_new") %></a>
          </li>
          <li class="gem-c-related-navigation__link">
            <a href="<%= Plek.new.external_url_for('support') + '/taxonomy_change_topic_request/new' %>"
               class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other"
               data-gtm="change-topic-request"><%= t("topics.edit.link_suggest_change") %></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<% def unroll(topic) %>
  <li>
    <div class="govuk-checkboxes__item">
    <%= tag.input type: "checkbox",
      id: "topic-#{topic.content_id}",
      class: "govuk-checkboxes__input",
      name: "topics[]",
      value: topic.content_id,
      checked: @topics.include?(topic) %>

    <%= tag.label for: "topic-#{topic.content_id}", class:"govuk-label govuk-checkboxes__label" do %>
      <%= topic.title %>
    <% end %>
    </div>

    <% if topic.children.any? %>
      <ul class="govuk-list">
        <% topic.children.each do |child_topic| %>
          <% unroll(child_topic) %>
        <% end %>
      </ul>
    <% end %>
  </li>
<% end %>

<%= form_tag update_topics_path(@edition.document), data: { gtm: "confirm-edit-topics" }, method: :patch do %>
  <h2 class="govuk-heading-m"><%= t("topics.edit.selected_title") %></h2>
  <miller-columns-selected class="miller-columns-selected" id="selected-items" for="miller-columns"></miller-columns-selected>

  <div class="app-js-only">
    <%= render "components/autocomplete", {
      id: "topics-autocomplete",
      name: "topics-autocomplete",
      label: {
        text: "Search topics",
        bold: true
      },
      type: "topics",
      search: true
    } %>
  </div>

  <miller-columns id="miller-columns" class="miller-columns" for="taxonomy" selected="selected-items">
  <ul id="taxonomy" class="govuk-list">
    <% Topic.govuk_homepage(@edition.document_topics.index).children.each do |topic| %>
      <% unroll(topic) %>
    <% end %>
  </ul>
  </miller-columns>

  <%= hidden_field_tag :version, @version %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/details", {
        title: t("topics.edit.warning_title")
      } do %>
        <div data-gtm="topic-edit-warning" data-gtm-visibility-tracking="true">
          <%= t("topics.edit.warning_description") %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render "govuk_publishing_components/components/button", {
    text: "Save", margin_bottom: true
  } %>
<% end %>
