<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/markdown_editor", {
      label: {
        text: field.label,
        bold: true
      },
      textarea: {
        data: {
          "contextual-guidance": "document-contents-guidance",
          gramm: "false", # Disables grammerly plugin for markdown editor
          gtm: "#{field.id}-input",
          "gtm-copy-paste-tracking": "copy-url-for-2i-approval-cta",
        },
        id: field.id,
        name: "revision[contents][#{field.id}]",
        value: revision.contents[field.id],
        rows: 20,
        spellcheck: "false"
      }
    } %>
  </div>

  <% if document.document_type.guidance_for(field.id) %>
    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual_guidance", {
        id: "document-contents-guidance",
        title: document.document_type.guidance_for(field.id).title,
        relative: true
      } do %>
        <%= render_govspeak(document.document_type.guidance_for(field.id).body_govspeak) %>

        <h3 class="govuk-heading-s"><%= t("documents.edit.fields.govspeak.title") %></h3>

        <p class="govuk-body">
          <%= link_to t("documents.edit.fields.govspeak.guidance"), "https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown", class: "govuk-link", target: "_blank" %>
        </p>

        <%= render "components/markdown_guidance" %>
      <% end %>
    </div>
  <% end %>
</div>
