<%= content_for :back_link, document_path(@document) %>
<% content_for :title, t("document_lead_image.index.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag(document_lead_image_path(@document), multipart: true) do %>
      <%= file_field_tag "image" %>
      <p>
      <%= render "govuk_publishing_components/components/button", {
        text: "Upload"
      } %>
    <% end %>

    <% if @document.images.any? %>
      <%= render "govuk_publishing_components/components/heading", {
        text: t("document_lead_image.index.existing_image")
      } %>
      <table>
        <% @document.images.each_with_index do |image, i| %>
          <tr>
            <td>
              <%= image_tag(url_for(image.thumbnail), id: "image-#{i}") %>
            </td>
            <div>
              <td valign="top" class="govuk-body" id=<%= "image-#{i}-metadata" %>>
                <% if image == @document.lead_image %><strong>Lead image</strong><% end %>
                <p>
                  <strong><%= t("document_lead_image.index.alt_text") %></strong>: <%= image.alt_text %> <br \>
                  <strong><%= t("document_lead_image.index.caption") %></strong>: <%= image.caption %> <br \>
                  <strong><%= t("document_lead_image.index.credit") %></strong>: <%= image.credit %> <br \>
                </p>
                <p>
                  <%= form_tag update_document_lead_image_path(@document, image), method: :patch do %>
                    <button>Choose image</button>
                  <% end %>
                </p>
              </td>
            </div>
          </tr>
        <% end %>
      </table>
    <% else %>
      <%= render "govuk_publishing_components/components/heading", {
        text: t("document_lead_image.index.no_existing_image")
      } %>
    <% end %>
  </div>
</div>
