<% content_for :title, t("file_attachments.edit.title", title: @edition.title_or_fallback) %>

<% back_link_path = if params[:wizard] == 'featured-attachment-upload'
                      replace_file_attachment_path(@edition.document,
                                                   @attachment.file_attachment_id,
                                                   wizard: params[:wizard])
                    else
                      featured_attachments_path(@edition.document)
                    end %>

<% content_for :back_link, render_back_link(href: back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag(
      edit_file_attachment_path(@edition.document, @attachment.file_attachment_id),
      method: :patch,
      multipart: true,
      data: {
        gtm: "save-attachment-details"
      },
    ) do %>
      <%= render_govspeak(t("file_attachments.edit.description_govspeak")) %>

      <%= render "file_attachments/edit/official_document", attachment: @attachment, issues: @issues %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("file_attachments.edit.isbn.heading"),
          bold: true
        },
        name: "file_attachment[isbn]",
        value: params.dig(:file_attachment, :isbn) || @attachment.isbn,
        hint: t("file_attachments.edit.isbn.hint_text"),
        error_items: @issues&.items_for(:file_attachment_isbn),
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("file_attachments.edit.unique_reference.heading"),
          bold: true
        },
        name: "file_attachment[unique_reference]",
        value: params.dig(:file_attachment, :unique_reference) || @attachment.unique_reference,
        hint: t("file_attachments.edit.unique_reference.hint_text"),
        error_items: @issues&.items_for(:file_attachment_unique_reference),
      } %>

      <%= render "govuk_publishing_components/components/button", {
        margin_bottom: true,
        text: "Save",
      } %>
    <% end %>
  </div>
</div>
