<% content_for :title, t("file_attachments.edit.title", title: @edition.title_or_fallback) %>
<% content_for :back_link, render_back_link(href: file_attachments_path(@edition.document)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag(
      update_file_attachment_path(@edition.document, @attachment.file_attachment_id),
      method: :patch,
      multipart: true,
    ) do %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("file_attachments.edit.attachment_title.heading"),
          bold: true
        },
        name: "file_attachment[title]",
        value: params[:title] || @attachment.title,
        hint: t("file_attachments.edit.attachment_title.hint_text"),
      } %>
      <% file_upload_id = "file-upload-#{SecureRandom.hex(4)}" %>
      <%= render "govuk_publishing_components/components/label", {
        text: t("file_attachments.edit.attachment_file.heading"),
        html_for: file_upload_id,
        bold: true,
      } %>
      <%= render_govspeak(t("file_attachments.edit.attachment_file.description_govspeak")) %>
      <%= render "govuk_publishing_components/components/inset_text", {
        text: render_govspeak(
          t("file_attachments.edit.attachment_file.filename_change_callout_govspeak",
            filename: @attachment.filename)
        ),
      } %>
      <%= render "govuk_publishing_components/components/file_upload", {
        name: "file_attachment[file]",
        id: file_upload_id,
      } %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Save",
      } %>
    <% end %>
  </div>
</div>
