<% content_for :title, t("file_attachments.index.title", title: @edition.title_or_fallback) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="app-pane">
      <% upload_attachment_heading = capture do %>
        <h2 class="govuk-heading-m">
          <%= t("file_attachments.index.upload.title") %>
        </h2>
      <% end %>

      <%= form_tag(
        create_file_attachment_path(@edition.document),
        multipart: true,
        data: {
          "modal-action": "upload",
        },
      ) do %>
        <%= render "govuk_publishing_components/components/file_upload", {
          label: {
            text: upload_attachment_heading,
          },
          hint: render_govspeak(t("file_attachments.index.upload.description_govspeak")),
          name: "file"
        } %>

        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: t("file_attachments.index.attachment_title.heading"),
            bold: true
          },
          name: "title",
          value: params[:title],
          hint: t("file_attachments.index.attachment_title.hint_text"),
          error_items: @issues&.items_for(:file_attachment_title),
          } %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Upload",
        } %>
      <% end %>
    </div>

    <% attachments = @edition.file_attachment_revisions %>

    <% if attachments.any? %>
      <h2 class="govuk-heading-m">
        <%= t("file_attachments.index.other_attachments") %>
      </h2>

      <% attachments.each do |attachment| %>
        <%= render "file_attachment", document: @edition.document, attachment: attachment %>
      <% end %>
    <% end %>
  </div>
</div>
