<% content_for :title, t("file_attachments.show.title") %>
<% content_for :back_link, render_back_link(href: file_attachments_path(@edition.document),
                                            data_attributes: { "modal-action": "back" }) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/attachment", {
      attachment: file_attachment_attributes(@attachment, @edition.document),
      target: "_blank",
    } %>

    <%= render "components/metadata", {
      items: [
        {
          field: t("file_attachments.show.markdown_code"),
          value: t("file_attachments.show.attachment_markdown", filename: @attachment.filename)
        },
      ],
      inline: true,
      margin_bottom: 3,
    } %>
    <p class="govuk-body"><%= t("file_attachments.show.attachment_instructions") %></p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l"/>

    <div class="govuk-body">
      <%= render "govuk_publishing_components/components/attachment_link", {
        attachment: file_attachment_attributes(@attachment, @edition.document),
        target: "_blank"
      } %>
    </div>
    <%= render "components/metadata", {
      items: [
        {
          field: t("file_attachments.show.markdown_code"),
          value: t("file_attachments.show.attachment_link_markdown", filename: @attachment.filename)
        },
      ],
      inline: true,
      margin_bottom: 3,
    } %>
    <p class="govuk-body"><%= t("file_attachments.show.attachment_link_instructions") %></p>
  </div>
</div>
