<% content_for :title, t("file_attachments.show.title") %>
<% content_for :back_link, render_back_link(href: file_attachments_path(@edition.document),
                                            data_attributes: { "modal-action": "back" }) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/attachment", {
      attachment: file_attachment_attributes(@attachment, @edition.document),
      target: "_blank",
      data_attributes: {
        gtm: "preview-attachment-block"
      }
    } %>

    <% if rendering_context == "modal" %>
      <%= render "govuk_publishing_components/components/button", {
            text: "Insert attachment",
            data_attributes: {
              "modal-action": "insert-attachment-block",
              "modal-data": I18n.t(
                "file_attachments.show.attachment_markdown",
                filename: @attachment.filename
              ),
              gtm: "insert-attachment-block"
            },
      } %>
    <% else %>
      <%= render "components/metadata", {
        items: [
          {
            field: t("file_attachments.show.markdown_code"),
            value: t("file_attachments.show.attachment_markdown", filename: @attachment.filename)
          },
        ],
        inline: true,
        margin_bottom: 3,
      } %>
      <p class="govuk-body"><%= t("file_attachments.show.attachment_instructions") %></p>
    <% end %>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l"/>

    <div class="govuk-body">
      <%= render "govuk_publishing_components/components/attachment_link", {
        attachment: file_attachment_attributes(@attachment, @edition.document),
        target: "_blank",
        data_attributes: {
          gtm: "preview-attachment-link"
        }
      } %>
    </div>
    <% if rendering_context == "modal" %>
      <%= render "govuk_publishing_components/components/button", {
            text: "Insert attachment as link",
            data_attributes: {
              "modal-action": "insert-attachment-link",
              "modal-data": I18n.t(
                "file_attachments.show.attachment_link_markdown",
                filename: @attachment.filename
              ),
              gtm: "insert-attachment-link"
            },
            margin_bottom: true,
      } %>
    <% else %>
      <%= render "components/metadata", {
        items: [
          {
            field: t("file_attachments.show.markdown_code"),
            value: t("file_attachments.show.attachment_link_markdown", filename: @attachment.filename)
          },
        ],
        inline: true,
        margin_bottom: 3,
      } %>
      <p class="govuk-body"><%= t("file_attachments.show.attachment_link_instructions") %></p>
    <% end %>
  </div>
</div>
