<% content_for :back_link, document_path(@document) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if @document.review_state == "reviewed" %>
      <!-- this will use the panel component -->
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          <%= t "publish_document.published_document.reviewed.title" %>
        </h1>
      </div>

      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("publish_document.published_document.reviewed.body", title: @document.title) %>

        <%= render "govuk_publishing_components/components/copy_to_clipboard",
          label: nil,
          copyable_content: DocumentUrl.new(@document).public_url,
          button_text: t("global.copy_to_clipboard_button") %>
      <% end %>
    <% else %>
      <!-- this will use the panel component -->
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          <%= t("publish_document.published_document.published_without_review.title") %>
        </h1>
      </div>

      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("publish_document.published_document.published_without_review.body", title: @document.title) %>

        <%= render "govuk_publishing_components/components/copy_to_clipboard",
          label: t("publish_document.published_document.published_without_review.send_label"),
          copyable_content: DocumentUrl.new(@document).public_url,
          button_text: t("global.copy_to_clipboard_button") %>
      <% end %>
    <% end %>
  </div>
</div>
