<% content_for :back_link, document_path(@document) %>
<% content_for :browser_title, t("publish_document.published.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if @document.review_state == "reviewed" %>
      <%= render "govuk_publishing_components/components/panel", {
        title: t("publish_document.published.reviewed.title")
      } %>

      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("publish_document.published.reviewed.body_govspeak", title: @document.title) %>

        <%= link_to(nil, DocumentUrl.new(@document).public_url, class: "govuk-link") %>
      <% end %>
    <% else %>
      <%= render "govuk_publishing_components/components/panel", {
        title: t("publish_document.published.published_without_review.title")
      } %>

      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("publish_document.published.published_without_review.body_govspeak", title: @document.title) %>

        <p> <%= t("publish_document.published.published_without_review.send_label") %> </p>

        <%= link_to(nil, document_url(@document, utm_content: "2i-link"), class: "govuk-link") %>
      <% end %>
    <% end %>
  </div>
</div>
