<% content_for :title, t("contacts.search.title") %>

<%
  contact_options = @contacts_by_organisation.flat_map do |org|
    org["contacts"].map do |contact|
      [contact['title'], contact["content_id"], {"data-hint": org['name']}]
    end
  end
%>

<%= form_tag(
  search_contacts_path(@edition.document),
  data: {
    modal_action: "insert",
    gtm: "insert-contact-embed"
  },
) do %>
  <%= render "components/autocomplete", {
    name: "contact_id",
    label: {
      text: t("contacts.search.label"),
      bold: true
    },
    hint: t("contacts.search.hint_text"),
    id: "contact-id",
    select: {
      options: [""] + contact_options,
    },
    type: "contacts",
    search: true,
  } %>

  <% if rendering_context == "modal" %>
    <%= render "govuk_publishing_components/components/button", {
      text: "Insert contact",
      data_attributes: {
        "modal-action": "insert",
        gtm: "insert-contact"
      },
      margin_bottom: true
    } %>
  <% else %>
    <%= render "govuk_publishing_components/components/button", {
      text: "Show markdown code",
      margin_bottom: true
    } %>

    <% if params[:contact_id] %>
      <%= render "components/metadata", {
        items: [
          {
            field: t("contacts.search.markdown_code"),
            value: t("contacts.search.contact_markdown", id: params[:contact_id])
          },
        ],
        inline: true,
        margin_bottom: 3,
      } %>
      <p class="govuk-body"><%= t("contacts.search.contact_instructions") %></p>

    <% end %>
  <% end %>

  <%= tag.p class: "govuk-body" do %>
    <%= render_govspeak(t("contacts.search.contact_not_available_govspeak")) %>
  <% end %>
<% end %>
