<% content_for :title, @document.title || "Untitled document" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    Document type: <%= @document.document_type %>.

    <br/><br/>

    <%= form_for @document do |f| %>
      <p>
        Title:
        <%= f.text_field :title %>
      </p>

      <p>
        Summary:<br/>
        <%= f.text_field :summary %>
      </p>

      <p>
        Base path: <%= f.text_field :base_path %>
      </p>

      <% @document.document_type_schema.fields.each do |field| %>
        <%= render "documents/fields/#{field.type}_input", name: field.id, label: field.label, document: @document %>
      <% end %>

      <br/>
      <br/>
      <br/>

      <%= f.submit "Save" %>

    <% end %>
  </div>
</div>
