<%= content_for :back_link, document_path(@document) %>
<% content_for :title, @document.title || t("pages.documents.edit.title") %>

  <%= form_for(@document, data: {'module': 'edit-document-form', 'generate-path-path': generate_path_path}) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("pages.documents.edit.form_labels.title")
        },
        id: "document-title-id",
        name: "document[title]",
        value: @document.title,
        data: {
          "contextual-guidance": "document-title-guidance"
        }
      } %>

      <% url_preview = capture do %>
        <p class="govuk-heading-s"><%= t("pages.documents.edit.url_preview.available") %></p>

        <span id="no-title-id" class="govuk-body <%= 'app-hidden' unless @document.base_path.nil? %>"><%= t("pages.documents.edit.url_preview.no_title") %></span>

        <div id="url-preview-id" <%= 'class="app-hidden"' if @document.base_path.nil? %>
          <span class="govuk-body"><%= Plek.new.external_url_for("www") %></span><span id="base-path-id" class="govuk-body" ><%= "#{@document.base_path}" %></span>
        </div>

        <span id="error-generating-path-id" class="govuk-body app-hidden"><%= t("pages.documents.edit.url_preview.error") %></span>
      <% end %>

      <%= render "govuk_publishing_components/components/inset_text", {
        text: url_preview.html_safe
      } %>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual-guidance", {
        id: "document-title-guidance",
        title: t("formats.document_types.#{@document.document_type}.guidance.title.title")
      } do %>
        <p class="govuk-body"><%= t("formats.document_types.#{@document.document_type}.guidance.title.body") %></p>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: t("pages.documents.edit.form_labels.summary")
        },
        name: "document[summary]",
        value: @document.summary,
        rows: 4,
        data: {
          "contextual-guidance": "document-summary-guidance"
        }
      } %>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual-guidance", {
        id: "document-summary-guidance",
        title: t("formats.document_types.#{@document.document_type}.guidance.summary.title")
      } do %>
        <p class="govuk-body"><%= t("formats.document_types.#{@document.document_type}.guidance.summary.body") %></p>
      <% end %>
    </div>
  </div>

  <% @document.document_type_schema.contents.each do |schema| %>
    <%= render "documents/fields/#{schema.type}_input", schema: schema, document: @document %>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: t("pages.documents.edit.actions.save"), margin_bottom: true
  } %>
<% end %>
