<%= content_for :back_link, document_path(@document) %>
<% content_for :title, @document.title || "Create " + @document.document_type_schema.name %>

  <%= form_for(@document, data: {'module': 'edit-document-form', 'generate-path-path': generate_path_path}) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Title"
        },
        id: "document-title-id",
        name: "document[title]",
        value: @document.title,
        data: {
          "contextual-guidance": "document-title-guidance"
        }
      } %>

      <% url_preview = capture do %>
        <p class="govuk-heading-s">The web address for this content will look like:</p>

        <span id="no-title-id" class="govuk-body <%= 'app-hidden' unless @document.base_path.nil? %>">You haven’t entered a title yet.</span>

        <div id="url-preview-id" <%= 'class="app-hidden"' if @document.base_path.nil? %>>
            <span class="govuk-body">www.gov.uk</span><span id="base-path-id" class="govuk-body" ><%= "#{@document.base_path}" %></span>
        </div>

        <span id="error-generating-path-id" class="govuk-body app-hidden">Unable to preview address, please edit title and try again.</span>
      <% end %>

      <%= render "govuk_publishing_components/components/inset_text", {
        text: url_preview.html_safe
      } %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual-guidance", {
        id: "document-title-guidance"
      } do %>
        <h2 class="govuk-heading-s">Writing a news title</h2>
        <p class="govuk-body">The title must make clear what the content offers users. Use the words your users do to help them find this. Avoid wordplay or teases.</p>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Summary"
        },
        name: "document[summary]",
        value: @document.summary,
        rows: 4,
        data: {
          "contextual-guidance": "document-summary-guidance"
        }
      } %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual-guidance", {
        id: "document-summary-guidance"
      } do %>
        <h2 class="govuk-heading-s">Writing a news summary</h2>
        <p class="govuk-body">The summary should explain the main point of the story. It is the first line of the story so don’t repeat it below and end with a full stop.</p>
      <% end %>
    </div>
  </div>

  <% @document.document_type_schema.contents.each do |schema| %>
    <%= render "documents/fields/#{schema.type}_input", schema: schema, document: @document %>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Save", margin_bottom: true
  } %>
<% end %>
