<% content_for :back_link, render_back_link(href: document_path(@edition.document)) %>

<% if @edition.document.newly_created? %>
  <% content_for :title, t("documents.edit.title_new", document_type: @edition.document_type.label.downcase) %>
<% else %>
  <% content_for :title, t("documents.edit.title", title: @edition.title_or_fallback) %>
<% end %>

<%= form_for @edition.document,
  html: { class: "app-c-contextual-guidance__form" },
  data: {
    module: "edit-document-form",
    "url-preview-path": generate_path_path,
    "warn-before-unload": "true",
    gtm: "edit-document-submit"
  } do |f| %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" id="title">
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: t("documents.edit.form_labels.title"),
          bold: true
        },
        id: "title-field",
        name: "revision[title]",
        value: @revision.title,
        error_items: @issues&.items_for(:title),
        rows: 2,
        maxlength: Requirements::ContentChecker::TITLE_MAX_LENGTH,
        data: {
          "url-preview": "input",
          "contextual-guidance": "revision-title-guidance",
          gtm: "title-input"
        }
      } do %>
        <%= render "components/input_length_suggester", {
          for_id: "title-field",
          show_from: 55,
          message: "Title should be under 65 characters. Current length: {count}",
        } %>
      <% end %>

      <%= render "components/url_preview", {
        title: t("documents.edit.url_preview.available"),
        default_message: t("documents.edit.url_preview.no_title"),
        error_message: t("documents.edit.url_preview.error"),
        website_root: Plek.new.website_root,
        base_path: @revision.base_path
      } do %>
      <% end %>
    </div>

    <% if @edition.document_type.guidance_for("title") %>
      <div class="govuk-grid-column-one-third">
        <%= render "components/contextual_guidance", {
          id: "revision-title-guidance",
          title: @edition.document_type.guidance_for("title").title
        } do %>
          <p class="govuk-body"><%= @edition.document_type.guidance_for("title").body_govspeak %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" id="summary">
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: t("documents.edit.form_labels.summary"),
          bold: true
        },
        id: "summary-field",
        name: "revision[summary]",
        value: @revision.summary,
        error_items: @issues&.items_for(:summary),
        rows: 4,
        maxlength: Requirements::ContentChecker::SUMMARY_MAX_LENGTH,
        data: {
          "contextual-guidance": "document-summary-guidance",
          gtm: "summary-input"
        }
      } do %>
        <%= render "components/input_length_suggester", {
          for_id: "summary-field",
          show_from: 120,
          message: "Summary should be under 160 characters. Current length: {count}",
        } %>
      <% end %>
    </div>

    <% if @edition.document_type.guidance_for("summary") %>
      <div class="govuk-grid-column-one-third">
        <%= render "components/contextual_guidance", {
          id: "document-summary-guidance",
          title: @edition.document_type.guidance_for("summary").title
        } do %>
          <p class="govuk-body"><%= @edition.document_type.guidance_for("summary").body_govspeak %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <% @edition.document_type.contents.each do |field| %>
    <%= render "documents/fields/#{field.type}_input",
      field: field,
      edition: @edition,
      revision: @revision,
      issues: @issues
    %>
  <% end %>

  <% if @edition.document.live_edition %>
    <%= render "documents/edit/change_notes" %>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Save", margin_bottom: true
  } %>
<% end %>
