<% content_for :title, @document.title || "Untitled document" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p>
      <%= render "govuk_publishing_components/components/label", {
        bold: true,
        text: "Document type",
        html_for: "",
        hint_id: "",
        hint_text: @document.document_type
      } %>
    </p>

    <br/><br/>

    <%= form_for @document do |f| %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Title"
        },
        name: "document[title]",
        value: @document.title
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Summary"
        },
        name: "document[summary]",
        value: @document.summary
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Base path"
        },
        name: "document[base_path]",
        value: @document.base_path
      } %>

      <% @document.document_type_schema.fields.each do |field| %>
        <%= render "documents/fields/#{field.type}_input", name: field.id, label: field.label, document: @document %>
      <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Save",
    class: "govuk-button"
  } %>
<% end %>
  </div>
</div>
