<% content_for :back_link, document_path(@document) %>

<% if @document.newly_created? %>
  <% content_for :title, t("documents.edit.title_new", document_type: @document.document_type_schema.label.downcase) %>
<% else %>
  <% content_for :title, t("documents.edit.title", title: @document.title_or_fallback) %>
<% end %>

<%= form_for(@document, html: {'autocomplete': 'off'}, data: {'module': 'edit-document-form', 'url-preview-path': generate_path_path}) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/character_count", {
        textarea: {
          label: {
            text: t("documents.edit.form_labels.title"),
            bold: true
          },
          name: "document[title]",
          value: @document.title,
          error_items: @issues&.items_for(:title),
          rows: 2,
          data: {
            "url-preview": "input",
            "contextual-guidance": "document-title-guidance"
          }
        },
        maxlength: Requirements::ContentChecker::TITLE_MAX_LENGTH
      } %>

      <%= render "components/url_preview", {
        title: t("documents.edit.url_preview.available"),
        default_message: t("documents.edit.url_preview.no_title"),
        error_message: t("documents.edit.url_preview.error"),
        website_root: Plek.new.website_root,
        base_path: @document.base_path
      } do %>
      <% end %>

    </div>

    <% if @document.document_type_schema.guidance_for("title") %>
      <div class="govuk-grid-column-one-third">
        <%= render "components/contextual_guidance", {
          id: "document-title-guidance",
          title: @document.document_type_schema.guidance_for("title").title
        } do %>
          <p class="govuk-body"><%= @document.document_type_schema.guidance_for("title").body %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: t("documents.edit.form_labels.summary"),
          bold: true
        },
        name: "document[summary]",
        value: @document.summary,
        rows: 4,
        data: {
          "contextual-guidance": "document-summary-guidance"
        }
      } %>
    </div>

    <% if @document.document_type_schema.guidance_for("summary") %>
      <div class="govuk-grid-column-one-third">
        <%= render "components/contextual_guidance", {
          id: "document-summary-guidance",
          title: @document.document_type_schema.guidance_for("summary").title
        } do %>
          <p class="govuk-body"><%= @document.document_type_schema.guidance_for("summary").body %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <% @document.document_type_schema.contents.each do |schema| %>
    <%= render "documents/fields/#{schema.type}_input", schema: schema, document: @document %>
  <% end %>

  <% if @document.has_live_version_on_govuk %>
    <%= render "documents/edit/change_notes" %>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Save", margin_bottom: true
  } %>
<% end %>
