<%= content_for :back_link, document_path(@document) %>
<% content_for :title, @document.title || "Create " + @document.document_type_schema.name %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @document do |f| %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Title"
        },
        name: "document[title]",
        value: @document.title,
        id: "document-title-id"
      } %>

      <% url_preview = capture do %>
        <p class="govuk-heading-s">The web address for this content will look like:</p>
        <span id="base-path-id" class="govuk-body"><%= @document.base_path.nil? ? "You haven’t entered a title yet." : "www.gov.uk#{@document.base_path}" %></span>
      <% end %>
      <%= render "govuk_publishing_components/components/inset_text", {
        text: url_preview.html_safe
      } %>

      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Summary"
        },
        name: "document[summary]",
        value: @document.summary,
        rows: 4
      } %>

      <% @document.document_type_schema.contents.each do |field| %>
        <%= render "documents/fields/#{field.type}_input", name: field.id, label: field.label, document: @document %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Save", margin_bottom: true
      } %>
    <% end %>
  </div>
</div>
