<%= content_for :back_link, document_path(@document) %>
<% content_for :title, @document.title || "Untitled document" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @document do |f| %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Title"
        },
        name: "document[title]",
        value: @document.title
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Base path"
        },
        name: "document[base_path]",
        value: @document.base_path
      } %>

      <%= render "govuk_publishing_components/components/label", {
        text: "Summary",
        html_for: "document[summary]"
      } %>

      <%= tag.textarea @document.summary, rows: 4, class: "govuk-textarea", name: "document[summary]" %>

      <% @document.document_type_schema.contents.each do |field| %>
        <%= render "documents/fields/#{field.type}_input", name: field.id, label: field.label, document: @document %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Save"
      } %>
    <% end %>
  </div>
</div>
