<% content_for :back_link, render_back_link(href: document_path(@edition.document)) %>
<% content_for :title, @edition.title_or_fallback %>
<% content_for :context, @edition.document_type.label %>

<%= render("documents/secondary_navigation") %>

<% displayed_edition_number = nil %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% @timeline_entries.each_with_index do |entry, index| %>

      <% if displayed_edition_number != entry.edition.number %>
        <% if index > 0 %>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
        <% end %>
        <h3 class="govuk-heading-m"><%= t "documents.history.edition_header", number: entry.edition.number.ordinalize %></h3>
        <% displayed_edition_number = entry.edition.number %>
      <% end %>

      <%= render partial: "documents/timeline_entry", locals: { entry: entry } %>
    <% end %>

    <%
      pages = {}
      previous_page_info = t("documents.history.page_info",
                             page: @timeline_entries.prev_page,
                             pages: @timeline_entries.total_pages)

      next_page_info = t("documents.history.page_info",
                         page: @timeline_entries.next_page,
                         pages: @timeline_entries.total_pages)

      pages[:previous_page] = { url: document_history_path(page: @timeline_entries.prev_page),
                                label: previous_page_info,
                                title: "Previous page" } if @timeline_entries.prev_page
      pages[:next_page] = { url: document_history_path(page: @timeline_entries.next_page),
                            label: next_page_info,
                            title: "Next page" } if @timeline_entries.next_page
    %>

    <%= render "govuk_publishing_components/components/previous_and_next_navigation", pages %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= form_tag(create_internal_note_path(@edition.document),
                 method: :post,
                 data: { gtm: "create-internal-note" }) do %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: t("documents.history.entry_types.internal_note"),
          bold: true
        },
        name: "internal_note",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("documents.history.add_internal_note")
      } %>
    <% end %>
  </div>
</div>
