<% content_for :title, t("documents.index.title") %>

<% content_for :title_side, render("govuk_publishing_components/components/button", {
  text: "New document", href: new_document_path, margin_bottom: true
}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "documents/index/filters" %>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <p class="govuk-heading-s"> <%= t("documents.index.guidance.title") %></p>
    <p class="govuk-body"><%= link_to "Planning, writing and managing content", "https://www.gov.uk/topic/government-digital-guidance/content-publishing", class: "govuk-link", target: "blank" %></p>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-1">
      <%= t("documents.index.search_results.summary_html", count: @documents.total_count) %>
    </p>

    <% if @documents.none? %>
      <div class="govuk-body">
        <%= govspeak_to_html t("documents.index.search_results.guidance") %>
      </div>
    <% else %>
      <%= render "documents/index/results" %>
    <% end %>

    <% pages = { } %>

    <% page_info = t("documents.index.search_results.page_info",
                     page: @documents.current_page,
                     pages: @documents.total_pages) %>

    <% pages[:previous_page] = { url: documents_path(@filter_params.merge(page: @documents.prev_page)),
                                 label: page_info,
                                 title: "Previous page" } if @documents.prev_page %>

    <% pages[:next_page] = { url: documents_path(@filter_params.merge(page: @documents.next_page)),
                             label: page_info,
                             title: "Next page" } if @documents.next_page %>

    <%= render "govuk_publishing_components/components/previous_and_next_navigation", pages %>
  </div>
</div>
