<% content_for :title, t("documents.index.title") %>

<%= render "govuk_publishing_components/components/button", {
  text: "New document", href: new_document_path, margin_bottom: true
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= form_tag({}, method: :get) do %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("documents.index.filter.title_or_url")
        },
        name: "title_or_url",
        value: params[:title_or_url]
      } %>

      <%= render "govuk_publishing_components/components/label", {
        text: t("documents.index.filter.document_type"),
        html_for: "document_type"
      } %>

      <%= select_tag "document_type",
        grouped_options_for_select(@document_type_select, params[:document_type]),
        class: "govuk-select",
        include_blank: true
      %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Filter", margin_bottom: true
      } %>

      <a href="<%=documents_path %>">Clear filter</a>
    <% end %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/document_list", {
      items: @documents.map do |document|
        {
          link: {
            text: document.title.presence || t("documents.index.search_results.untitled"),
            path: document_path(document),
            description: document.summary,
            context: document.locale
          },
          metadata: {
            public_updated_at: document.updated_at,
            document_type: document.document_type_schema.label
          }
        }
      end
    } %>

    <% pages = { } %>

    <% page_info = t("documents.index.search_results.page_info",
                     page: @documents.current_page,
                     pages: @documents.total_pages) %>

    <% pages[:previous_page] = { url: documents_path(page: @documents.prev_page),
                                 label: page_info,
                                 title: "Previous page" } if @documents.prev_page %>

    <% pages[:next_page] = { url: documents_path(page: @documents.next_page),
                             label: page_info,
                             title: "Next page" } if @documents.next_page %>

    <%= render "govuk_publishing_components/components/previous_and_next_navigation", pages %>
  </div>
</div>
