<% content_for :title, t("documents.index.title") %>

<%= render "govuk_publishing_components/components/button", {
  text: "New document", href: new_document_path, margin_bottom: true
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "documents/index/filters" %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= t("documents.index.search_results.summary_html", count: @documents.total_count) %>
    </p>

    <% if @documents.none? %>
      <%= govspeak_to_html t("documents.index.search_results.guidance") %>
    <% else %>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">
              <%= t("documents.index.search_results.headings.title") %>
            </th>

            <th class="govuk-table__header" scope="col">
              <%
                active = @sort.delete_prefix("-") == "updated_at"
                link_to_asc = active && @sort[0] == "-"
                classes = []
                classes << "active" if active
                classes << "desc" if active && link_to_asc
              %>
              <%= link_to(
                t("documents.index.search_results.headings.last_updated"),
                documents_path(@filter_params.merge(sort: "#{link_to_asc ? '' : '-'}updated_at", page: nil)),
                title: t("documents.index.search_results.headings.last_updated_#{link_to_asc ? 'asc' : 'desc'}"),
                class: classes
              ) %>
            </th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <% @documents.each do |document| %>
            <tr class="govuk-table__row document">
              <td class="govuk-table__cell" scope="row">
                <%= link_to document.title, document %>
                <br/>
                <%= document.document_type_schema.label %>
                <br/>
                <%= t "documents.index.search_results.headings.creator", creator: document.creator.name %>
              </td>

              <td class="govuk-table__cell ">
                <%= document.updated_at.strftime("%d %b %Y") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% pages = { } %>

    <% page_info = t("documents.index.search_results.page_info",
                     page: @documents.current_page,
                     pages: @documents.total_pages) %>

    <% pages[:previous_page] = { url: documents_path(@filter_params.merge(page: @documents.prev_page)),
                                 label: page_info,
                                 title: "Previous page" } if @documents.prev_page %>

    <% pages[:next_page] = { url: documents_path(@filter_params.merge(page: @documents.next_page)),
                             label: page_info,
                             title: "Next page" } if @documents.next_page %>

    <%= render "govuk_publishing_components/components/previous_and_next_navigation", pages %>
  </div>
</div>
