<% content_for :back_link, documents_path %>
<% content_for :title, @document.title || t("documents.show.title_default") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "documents/show/contents" %>

    <% if @document.document_type_schema.lead_image %>
      <%= render "documents/show/lead_image" %>
    <% end %>

    <h2 class="govuk-header-s"><%= t("documents.show.tags.title") %></h2>

    <p class="govuk-body">
      <%= t("documents.show.tags.api_down") %>
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "documents/show/actions" %>
  </div>
</div>
