<% content_for :back_link, documents_path %>
<% content_for :title, @document.title || "No title" %>

<p>
  Base path: <%= @document.base_path %>
</p>

<p>
  Document type: <%= @document.document_type %>
</p>

<% @document.document_type_schema.fields.each do |field| %>
  <%= render "documents/fields/#{field.type}", name: field.id, label: field.label, document: @document %>
<% end %>

<%= form_tag publish_document_path(@document) do %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Publish"
  } %>
<% end %>

<%= link_to "Edit document", edit_document_path(@document) %>
