<% content_for :back_link, render_back_link(href: document_path(@edition.document)) %>
<% content_for :title, t("schedule_proposal.edit.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag schedule_proposal_path(@edition.document) do %>
      <%= hidden_field_tag(:wizard, params[:wizard]) %>

      <%= render "schedule/datetime", {
        issues: @issues,
        publish_time: @edition.proposed_publish_time,
      } %>

      <% if params[:wizard] == "schedule" %>
        <%= render "govuk_publishing_components/components/radio", {
          name: "schedule[action]",
          error_items: @issues&.items_for(:schedule_action),
          items: [
            {
              id: "action",
              value: "save",
              text: t("schedule_proposal.edit.actions.save"),
              checked: params.dig(:schedule, :action) == "save",
            },
            {
              value: "schedule",
              text: t("schedule_proposal.edit.actions.schedule"),
              checked: params.dig(:schedule, :action) == "schedule",
            },
          ]
        } %>

        <%= render "govuk_publishing_components/components/button", {
          text: "Continue",
          margin_bottom: true
        } %>
      <% else %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Save date",
          margin_bottom: true
        } %>,
      <% end %>
    <% end %>

    <% if @edition.proposed_publish_time.present? %>
      <%= form_tag schedule_proposal_path(@edition.document), method: :delete do %>
        <button class="govuk-link app-link--button govuk-link--no-visited-state">Clear schedule date</button>
      <% end %>
    <% end %>
  </div>
</div>
