<% content_for :back_link, render_back_link(href: document_path(@edition.document)) %>
<% content_for :title, t("schedule_proposal.edit.title") %>

<%
  current_schedule_datetime = @edition.scheduled_publishing_datetime
  default_datetime = Time.current.tomorrow.change(hour: 9)
  publish_datetime = current_schedule_datetime || default_datetime
%>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag schedule_proposal_path(@edition.document) do %>
      <%= hidden_field_tag(:wizard, params[:wizard]) %>

      <% legend = capture do %>
        <span class="govuk-heading-s govuk-!-margin-bottom-0">
          <%= t("schedule_proposal.edit.date") %>
        </span>
      <% end %>

      <%= render "govuk_publishing_components/components/date_input", {
        legend_text: legend,
        name: "schedule[date]",
        hint: t("schedule_proposal.edit.date_hint_text"),
        id: "date",
        error_items: @issues&.items_for(:schedule_date),
        items: [
          {
            name: "day",
            width: 2,
            value: params.dig(:schedule, :date, :day) || publish_datetime.day,
          },
          {
            name: "month",
            width: 2,
            value: params.dig(:schedule, :date, :month) || publish_datetime.month,
          },
          {
            name: "year",
            width: 4,
            value: params.dig(:schedule, :date, :year) || publish_datetime.year,
          }
        ]
      } %>

      <% persistent_time = publish_datetime.strftime("%-l:%M%P") %>
      <% selected_time = params.dig(:schedule, :time) || persistent_time %>

      <%= render "components/autocomplete", {
        id: "time",
        name: "schedule[time]",
        label: {
          text: t("schedule_proposal.edit.time"),
          bold: true,
        },
        error_items: @issues&.items_for(:schedule_time),
        options: time_options(persistent_time),
        selected_options: [persistent_time],
        data_attributes: {
          initial_value: selected_time,
        },
        type: "without-narrowing-results",
        size: 5,
        width: "narrow",
      } %>

      <% if params[:wizard] == "schedule" %>
        <%= render "govuk_publishing_components/components/radio", {
          name: "schedule[action]",
          error_items: @issues&.items_for(:schedule_action),
          items: [
            {
              id: "action",
              value: "save",
              text: t("schedule_proposal.edit.actions.save"),
              checked: params.dig(:schedule, :action) == "save",
            },
            {
              value: "schedule",
              text: t("schedule_proposal.edit.actions.schedule"),
              checked: params.dig(:schedule, :action) == "schedule",
            },
          ]
        } %>

        <%= render "govuk_publishing_components/components/button", {
          text: "Continue",
          margin_bottom: true
        } %>
      <% else %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Save date",
          margin_bottom: true
        } %>,
      <% end %>
    <% end %>

    <% if @edition.scheduled_publishing_datetime.present? %>
      <%= form_tag schedule_proposal_path(@edition.document), method: :delete do %>
        <button class="govuk-link app-link--button govuk-link--no-visited-state">Clear schedule date</button>
      <% end %>
    <% end %>
  </div>
</div>
