<% content_for :back_link, render_back_link(href: document_path(@document)) %>
<% content_for :title, t("tags.edit.title", title: @revision.title_or_fallback) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= t("tags.edit.description") %></p>
  </div>
</div>
<%= form_tag(tags_path(@document), data: { "warn-before-unload": "true" }) do %>

<% @document.document_type.tags.each do |tag_field| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "tags/tags/#{tag_field.type}_input",
        tag_field: tag_field,
        tags: @revision.tags,
        contextual_guidance_id: "#{tag_field.id}-guidance" %>
    </div>
    <% if @document.document_type.guidance_for(tag_field.id) %>
    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual_guidance", {
        id: "#{tag_field.id}-guidance",
        title: @document.document_type.guidance_for(tag_field.id).title
      } do %>
        <p class="govuk-body"><%= @document.document_type.guidance_for(tag_field.id).body %></p>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Save", margin_bottom: true
  } %>
<% end %>
