<% content_for :title, t("documentation.index.title") %>

<h2 class='govuk-heading-m'><%= t("documentation.index.formats.title") %></h2>

<table class='govuk-table'>
  <thead class='govuk-table__head'>
    <tr class='govuk-table__row'>
      <th class='govuk-table__header' scope='col'><%= t("documentation.index.formats.table.name") %></th>
      <th class='govuk-table__header' scope='col'><%= t("documentation.index.formats.table.type") %></th>
      <th class='govuk-table__header' scope='col'><%= t("documentation.index.formats.table.not_in_beta") %></th>
      <th class='govuk-table__header' scope='col'><%= t("documentation.index.formats.table.link") %></th>
    </tr>
  </thead>

  <body class='govuk-table__body'>
    <% DocumentTypeSchema.all.each do |schema| %>
      <tr class='govuk-table__row'>
        <td class='govuk-table__header'><%= schema.label %></td>
        <td class='govuk-table__cell'><%= schema.id %></td>

        <% if schema.managed_elsewhere %>
          <td class='govuk-table__cell'><%= link_to(t("documentation.index.formats.table.link_name"), schema.managed_elsewhere_url) %></td>
        <% else %>
          <td class='govuk-table__cell'></td>
        <% end %>

        <td class='govuk-table__cell'><%= link_to 'Tech docs', "https://docs.publishing.service.gov.uk/document-types/#{schema.id}.html" %></td>
      </tr>
    <% end %>
  </body>
</table>

<h2 class='govuk-heading-m'><%= t("documentation.index.states.title") %></h2>

<p><%= t("documentation.index.states.body") %></p>

<table class='govuk-table'>
  <thead class='govuk-table__head'>
    <tr class='govuk-table__row'>
      <th class='govuk-table__header' scope='col'><%= t("documentation.index.states.table.state") %></th>
      <th class='govuk-table__header' scope='col'><%= t("documentation.index.states.table.description") %></th>
    </tr>
  </thead>

  <body class='govuk-table__body'>
    <% Document::PUBLICATION_STATES.each do |state| %>
      <tr class='govuk-table__row'>
        <td class='govuk-table__header'><%= t "publication_states.#{state}.name" %></td>
        <td class='govuk-table__cell'><%= t "publication_states.#{state}.description" %></td>
      </tr>
    <% end %>
  </body>
</table>
