<% content_for :title, t("documentation.index.title") %>

<h2 class='govuk-heading-m'><%= t("documentation.index.formats.title") %></h2>

<table class='govuk-table'>
  <thead class='govuk-table__head'>
    <tr class='govuk-table__row'>
      <th class='govuk-table__header' scope='col'><%= t("documentation.index.formats.table.name") %></th>
      <th class='govuk-table__header' scope='col'><%= t("documentation.index.formats.table.type") %></th>
      <th class='govuk-table__header' scope='col'><%= t("documentation.index.formats.table.not_in_beta") %></th>
      <th class='govuk-table__header' scope='col'><%= t("documentation.index.formats.table.link") %></th>
    </tr>
  </thead>

  <body class='govuk-table__body'>
    <% DocumentType.all.each do |document_type| %>
      <tr class='govuk-table__row'>
        <td class='govuk-table__header'><%= document_type.label %></td>
        <td class='govuk-table__cell'><%= document_type.id %></td>

        <% if document_type.managed_elsewhere %>
          <td class='govuk-table__cell'><%= link_to(t("documentation.index.formats.table.link_name"), document_type.managed_elsewhere_url, class: "govuk-link") %></td>
        <% else %>
          <td class='govuk-table__cell'></td>
        <% end %>

        <td class='govuk-table__cell'><%= link_to 'Tech docs', "https://docs.publishing.service.gov.uk/document-types/#{document_type.id}.html", class: "govuk-link"%></td>
      </tr>
    <% end %>
  </body>
</table>
