<%= form_tag({}, method: :get, data: { gtm: "filter-documents" }) do %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: t("documents.index.filter.title_or_url"),
      bold: true
    },
    name: "title_or_url",
    value: params[:title_or_url],
    type: "search",
    data: {
      gtm: "input-title-or-url",
      "gtm-visibility-tracking": params[:title_or_url].present? || nil,
      "gtm-value": params[:title_or_url],
    }
  } %>

  <div class="govuk-form-group">
    <% organisation_select = begin
      Linkables.new("organisation").select_options
    rescue GdsApi::BaseError => e
      GovukError.notify(e)
      []
    end %>

    <%= render "govuk_publishing_components/components/label", {
      text: t("documents.index.filter.organisation"),
      html_for: "document-organisation-filter",
      bold: true
    } %>

    <%= select_tag "organisation",
      options_for_select(organisation_select, [params[:organisation]]),
      include_blank: true,
      id: "document-organisation-filter",
      class: "govuk-select",
      data: {
        gtm: "select-organisation",
        "gtm-visibility-tracking": params[:organisation].present? || nil,
        "gtm-value": params[:organisation]
      }
    %>
  </div>

  <div class="govuk-form-group">
    <% selectable_states = %w[draft
                              submitted_for_review
                              scheduled
                              published
                              published_but_needs_2i
                              withdrawn
                              removed
                              failed_to_publish]

    state_select = selectable_states.map do |state|
      [t("user_facing_states.#{state}.name"), state]
    end
    %>

    <%= render "govuk_publishing_components/components/label", {
      text: t("documents.index.filter.state"),
      html_for: "document-status-filter",
      bold: true
    } %>

    <%= select_tag "status",
      options_for_select(state_select, [params[:status]]),
      include_blank: true,
      id: "document-status-filter",
      class: "govuk-select",
      data: {
        gtm: "select-status",
        "gtm-visibility-tracking": params[:status].present? || nil,
        "gtm-value": params[:status],
      }
    %>
  </div>

  <div class="govuk-form-group">
    <% document_type_select = DocumentType.all
      .reject(&:managed_elsewhere)
      .map { |d| [d.label, d.id] }
    %>

    <%= render "govuk_publishing_components/components/label", {
      text: t("documents.index.filter.document_type"),
      html_for: "document-type-filter",
      bold: true
    } %>

    <%= select_tag "document_type",
      options_for_select(document_type_select, [params[:document_type]]),
      include_blank: true,
      id: "document-type-filter",
      class: "govuk-select",
      data: {
        gtm: "select-document-type",
        "gtm-visibility-tracking": params[:document_type].present? || nil,
        "gtm-value": params[:document_type]
      }
    %>
  </div>

  <div class="govuk-form-group">
    <%= render "govuk_publishing_components/components/label", {
      text: t("documents.index.filter.political"),
      html_for: "political-filter",
      bold: true
    } %>

    <%= select_tag "political",
      options_for_select([["Yes", "yes"], ["No", "no"]], [params[:political]]),
      include_blank: true,
      id: "political-filter",
      class: "govuk-select",
      data: {
        gtm: "select-political",
        "gtm-visibility-tracking": params[:political].present? || nil,
        "gtm-value": params[:political]
      }
    %>
  </div>

  <div class="govuk-form-group">
    <%= render "govuk_publishing_components/components/label", {
      text: t("documents.index.filter.history_mode"),
      html_for: "history_mode-filter",
      bold: true
    } %>

    <%= select_tag "history_mode",
      options_for_select([["Yes", "yes"], ["No", "no"]], [params[:history_mode]]),
      include_blank: true,
      id: "history_mode-filter",
      class: "govuk-select",
      data: {
        gtm: "select-history_mode",
        "gtm-visibility-tracking": params[:history_mode].present? || nil,
        "gtm-value": params[:history_mode]
      }
    %>
  </div>

  <%= hidden_field_tag "sort", @sort %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Filter",
    margin_bottom: true
  } %>

  <p class="govuk-body">
    <%= link_to "Clear all filters",
                documents_path(organisation: ""),
                class: "govuk-link govuk-link--no-visited-state",
                data: { gtm: "clear-edition-filters" } %>
  </p>
<% end %>
