<div class="app-side">
  <div class="app-side__actions">
    <% if @edition.status.published_but_needs_2i? %>
      <%= approve_button(@edition) %>
      <%= create_edition_button(@edition, secondary: true) %>
      <%= withdraw_link(@edition) %>
      <%= remove_link(@edition) %>
    <% elsif @edition.status.published? %>
      <%= create_edition_button(@edition) %>
      <%= withdraw_link(@edition) %>
      <%= remove_link(@edition) %>
    <% elsif @edition.status.removed? %>
      <%= create_edition_button(@edition) %>
    <% elsif @edition.status.submitted_for_review? %>
      <%= publish_button(@edition) %>
      <%= preview_button(@edition, secondary: true) %>
      <%= delete_draft_link(@edition, "app-link--right") %>
    <% elsif !@edition.revision_synced? %>
      <%= create_preview_button(@edition) %>
      <%= delete_draft_link(@edition) %>
    <% elsif @edition.withdrawn? %>
      <%= undo_withdraw_button(@edition) %>
    <% elsif @edition.scheduled? %>
      <%= preview_button(@edition) %>
      <%= unschedule_button(@edition) %>
      <%= delete_draft_link(@edition) %>
    <% else %>
      <%= submit_for_2i_button(@edition) %>
      <%= preview_button(@edition, secondary: true) %>
      <% if @edition.schedulable? && current_user.has_permission?(User::PRE_RELEASE_FEATURES_PERMISSION) %>
        <%= schedule_link(@edition) %>
      <% else %>
        <%= publish_link(@edition) %>
      <% end %>
      <%= delete_draft_link(@edition, "app-link--right") %>
    <% end %>

    <% if (@edition.editable? || @edition.scheduled?) && current_user.has_permission?(User::PRE_RELEASE_FEATURES_PERMISSION) %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      <%= render "documents/show/scheduling_form" %>
    <% end %>

    <% if @edition.document.live_edition %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      <%= render "documents/show/external_links" %>
    <% end %>
  </div>
</div>
