<div class="app-side">
  <div class="app-side__actions">
    <% if @edition.status.published_but_needs_2i? %>
      <%= approve_button(@edition) %>
      <%= create_edition_button(@edition, secondary: true) %>
      <%= withdraw_link(@edition) %>
      <%= remove_link(@edition) %>
    <% elsif @edition.status.published? %>
      <%= create_edition_button(@edition) %>
      <%= withdraw_link(@edition) %>
      <%= remove_link(@edition) %>
    <% elsif @edition.status.removed? %>
      <%= create_edition_button(@edition) %>
    <% elsif @edition.status.submitted_for_review? %>
      <% if @edition.schedulable? && current_user.has_permission?(User::PRE_RELEASE_FEATURES_PERMISSION) %>
        <%= schedule_confirmation_button(@edition) %>
        <%= preview_button(@edition, secondary: true) %>
        <%= delete_draft_link(@edition, "app-link--right") %>
      <% else %>
        <%= publish_button(@edition) %>
        <%= preview_button(@edition, secondary: true) %>
        <%= delete_draft_link(@edition) %>
        <% if current_user.has_permission?(User::PRE_RELEASE_FEATURES_PERMISSION) %>
          <%= create_schedule_date_link(@edition, "app-link--right") %>
        <% end %>
      <% end %>
    <% elsif !@edition.revision_synced? %>
      <%= create_preview_button(@edition) %>
      <%= delete_draft_link(@edition) %>
      <% if current_user.has_permission?(User::PRE_RELEASE_FEATURES_PERMISSION) %>
        <%= create_schedule_date_link(@edition, "app-link--right") %>
      <% end %>
    <% elsif @edition.withdrawn? %>
      <%= undo_withdraw_button(@edition) %>
    <% elsif @edition.scheduled? %>
      <%= preview_button(@edition) %>
    <% else %>
      <%= submit_for_2i_button(@edition) %>
      <%= preview_button(@edition, secondary: true) %>
      <% if @edition.schedulable? && current_user.has_permission?(User::PRE_RELEASE_FEATURES_PERMISSION) %>
        <%= delete_draft_link(@edition) %>
        <%= schedule_confirmation_link(@edition, "app-link--right") %>
      <% elsif @edition.editable? && current_user.has_permission?(User::PRE_RELEASE_FEATURES_PERMISSION) %>
        <p class="govuk-body govuk-!-margin-bottom-3">
          <%= publish_link(@edition) %>
          <%= create_schedule_date_link(@edition, "app-link--right") %>
        </p>
        <%= delete_draft_link(@edition) %>
      <% end %>
    <% end %>

    <% if @edition.document.live_edition %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      <%= render "documents/show/external_links" %>
    <% end %>
  </div>
</div>
