<div class="app-side">
  <div class="app-side__actions">
    <%
      def delete_draft_link(extra_class = [])
        link_to("Delete draft",
                delete_draft_path(@edition.document),
                class: %w(govuk-link app-link--destructive) + Array(extra_class),
                data: { gtm: "delete-draft" })
      end
    %>
    <% if @edition.status.published_but_needs_2i? %>
      <%= form_tag approve_document_path(@edition.document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Approve" %>
      <% end %>

      <%= form_tag create_edition_path(@edition.document) do %>
        <%= render "govuk_publishing_components/components/button",
          text: "Create new edition",
          secondary: true,
          data_attributes: { gtm: "create-new-edition" } %>
      <% end %>

      <%= link_to "Withdraw", withdraw_path(@edition.document), class: "govuk-link govuk-link--no-visited-state" %>
      <%= link_to "Remove", remove_path(@edition.document), class: "govuk-link app-link--destructive app-link--right" %>
    <% elsif @edition.status.published? %>
      <%= form_tag create_edition_path(@edition.document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Create new edition", data_attributes: { gtm: "create-new-edition" } %>
      <% end %>
      <%= link_to "Withdraw", withdraw_path(@edition.document), class: "govuk-link govuk-link--no-visited-state" %>
      <%= link_to "Remove", remove_path(@edition.document), class: "govuk-link app-link--destructive app-link--right" %>
    <% elsif @edition.status.removed? %>
      <%= form_tag create_edition_path(@edition.document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Create new edition", data_attributes: { gtm: "create-new-edition" } %>
      <% end %>
    <% elsif @edition.status.submitted_for_review? %>
      <%= render "govuk_publishing_components/components/button",
                 text: "Publish",
                 href: publish_confirmation_path(@edition.document) %>
      <%= render "govuk_publishing_components/components/button",
                 text: "Preview",
                 href: preview_document_path(@edition.document),
                 secondary: true %>

      <%= delete_draft_link("app-link--right") %>
    <% elsif !@edition.revision_synced? %>
      <%= form_tag create_preview_path(@edition.document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Preview" %>
      <% end %>

      <%= delete_draft_link %>
    <% elsif @edition.withdrawn? %>
      <%= render "govuk_publishing_components/components/button",
                 text: "Undo withdrawal",
                 data_attributes: { gtm: "undo-withdraw" },
                 href: unwithdraw_path(@edition.document) %>
    <% elsif @edition.scheduled? %>
      <%= form_tag create_preview_path(@edition.document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Preview" %>
      <% end %>
      <%= form_tag unschedule_path(@edition.document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Stop scheduled publishing", secondary: true
      %>
      <% end %>
      <%= delete_draft_link %>
    <% else %>
      <%= form_tag submit_document_for_2i_path(@edition.document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Submit for 2i review" %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", text: "Preview", href: preview_document_path(@edition.document), secondary: true %>

      <% if @edition.schedulable? && current_user.has_permission?(User::PRE_RELEASE_FEATURES_PERMISSION) %>
        <%= link_to "Schedule", scheduling_confirmation_path(@edition.document), class: "govuk-link govuk-link--no-visited-state" %>
      <% else %>
        <%= link_to "Publish", publish_confirmation_path(@edition.document), class: "govuk-link govuk-link--no-visited-state" %>
      <% end %>
      <%= delete_draft_link("app-link--right") %>
    <% end %>

    <% if (@edition.editable? || @edition.scheduled?) && current_user.has_permission?(User::PRE_RELEASE_FEATURES_PERMISSION) %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      <%= render "documents/show/scheduling_form" %>
    <% end %>

    <% if @edition.document.live_edition %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      <ul class="govuk-list govuk-!-margin-0">
        <li>
          <%= link_to "View on GOV.UK", EditionUrl.new(@edition.document.live_edition).public_url, class: "govuk-link govuk-link--no-visited-state" %>
        </li>
        <% content_data_url = ContentDataUrl.new(@edition.document) %>
        <% if content_data_url.displayable?(current_user) %>
          <li>
            <%= link_to "View data about this page", content_data_url.url, target: "_blank", class: "govuk-link govuk-link--no-visited-state" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
