<div class="app-side">
  <div class="app-side__actions">
    <% if @document.publication_state == "error_sending_to_draft" %>
      <%= govspeak_to_html t("documents.show.sidebar.error_publishing_draft") %>

      <%= form_tag retry_draft_save_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Try again" %>
      <% end %>
    <% elsif @document.publication_state == "error_sending_to_live" %>
      <%= govspeak_to_html t("documents.show.sidebar.error_publishing_live") %>

      <%= render "govuk_publishing_components/components/button", text: "Retry publishing", href: publish_document_path(@document) %>
    <% elsif @document.user_facing_state == "published_but_needs_2i" %>
      <%= form_tag approve_document_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Approve" %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", text: "Create new edition", href: edit_document_path(@document), secondary: true %>

      <%= link_to "Retire", "#", class: "govuk-link" %>
      <%= link_to "Remove", "#", class: "app-link--destructive app-link--right" %>
    <% elsif @document.user_facing_state == "published" %>
      <%= render "govuk_publishing_components/components/button", text: "Create new edition", href: edit_document_path(@document) %>

      <%= link_to "Retire", "#", class: "govuk-link" %>
      <%= link_to "Remove", "#", class: "app-link--destructive app-link--right" %>
    <% elsif @document.user_facing_state == "submitted_for_review" %>
      <%= render "govuk_publishing_components/components/button", text: "Publish", href: publish_document_path(@document) %>
      <%= render "govuk_publishing_components/components/button", text: "Preview", href: preview_document_path(@document), secondary: true, target: "_blank" %>

      <%= link_to "Delete draft", '#', class: "app-link--destructive app-link--right" %>
    <% elsif @document.user_facing_state == "draft" %>
      <%= form_tag submit_document_for_2i_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Submit for 2i review" %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", text: "Preview", href: preview_document_path(@document), secondary: true, target: "_blank" %>

      <%= link_to "Publish", publish_document_path(@document), class: "govuk-link" %>
      <%= link_to "Delete draft", "#", class: "app-link--destructive app-link--right" %>
    <% end %>
  </div>
</div>
