<div class="app-side">
  <div class="app-side__actions">
    <% if @document.review_state == "published_without_review" %>
      <%= form_tag approve_document_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Approve" %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", text: "Create new edition", href: edit_document_path(@document), secondary: true %>

      <%= link_to "Retire", "#", class: "govuk-link" %>
      <%= link_to "Remove", "#", class: "govuk-link app-link--right" %>
    <% elsif @document.publication_state == "sent_to_live" || @document.publication_state == "error_sending_to_live" %>
      <%= render "govuk_publishing_components/components/button", text: "Create new edition", href: edit_document_path(@document) %>

      <%= link_to "Retire", "#", class: "govuk-link" %>
      <%= link_to "Remove", "#", class: "govuk-link app-link--right" %>
    <% elsif @document.review_state == "submitted_for_review" %>
      <%= render "govuk_publishing_components/components/button", text: "Publish", href: publish_document_path(@document) %>
      <%= render "govuk_publishing_components/components/button", text: "Preview", href: preview_document_path(@document), secondary: true %>

      <%= link_to "Delete draft", '#' %>
    <% elsif @document.publication_state == "sent_to_draft" %>
      <%= form_tag submit_document_for_2i_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Submit for 2i review" %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", text: "Preview", href: preview_document_path(@document), secondary: true %>

      <%= link_to "Publish", publish_document_path(@document) %>
      <%= link_to "Delete draft", "#", class: "govuk-link app-link--right" %>
    <% end %>
  </div>
</div>
