<ul class="govuk-list">
  <li>
    <%= link_to "Publish", publish_document_path(@document), class: "govuk-link" %>
  </li>
  <li>
    <%= link_to "Edit document", edit_document_path(@document), class: "govuk-link" %>
  </li>
  <li>
    <%= link_to "Edit associations", document_associations_path(@document), class: "govuk-link" %>
  </li>
  <li>
    <%= link_to "View on GOV.UK", DocumentUrl.new(@document).public_url, class: "govuk-link" %>
  </li>
  <li>
    <%= link_to "Preview", DocumentUrl.new(@document).preview_url, class: "govuk-link" %>
  </li>
  <li>
    <%= link_to "Shareable preview", DocumentUrl.new(@document).secret_preview_url, class: "govuk-link" %>
  </li>
</ul>

<div class='govuk-tag' title="<%= t "publication_state.#{@document.publication_state}.description" %>">
  <%= t "publication_state.#{@document.publication_state}.name" %>
</div>
