<ul class="govuk-list">
  <li>
    <%= link_to t("documents.show.actions.publish"), publish_document_path(@document), class: "govuk-link" %>
  </li>
  <li>
    <%= link_to t("documents.show.actions.edit"), edit_document_path(@document), class: "govuk-link" %>
  </li>
  <li>
    <%= link_to t("documents.show.actions.edit_associations"), document_associations_path(@document), class: "govuk-link" %>
  </li>
  <li>
    <%= link_to t("documents.show.actions.view_live"), DocumentUrl.new(@document).public_url, class: "govuk-link" %>
  </li>
  <li>
    <%= link_to t("documents.show.actions.view_draft"), DocumentUrl.new(@document).preview_url, class: "govuk-link" %>
  </li>
  <li>
    <%= link_to t("documents.show.actions.share_draft"), DocumentUrl.new(@document).secret_preview_url, class: "govuk-link" %>
  </li>
</ul>

<div class='govuk-tag' title="<%= t("documents.show.publication_state.#{@document.publication_state}.description") %>">
  <%= t("documents.show.publication_state.#{@document.publication_state}.name") %>
</div>
