<div class="app-side">
  <div class="app-side__actions">
    <%
      def delete_draft_link(extra_class = [])
        link_to("Delete draft",
                delete_draft_path(@document),
                class: %w(govuk-link app-link--destructive) + Array(extra_class),
                data: { gtm: "delete-draft" })
      end
    %>
    <% if @document.publication_state == "changes_not_sent_to_draft" %>
      <%= form_tag create_preview_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Preview" %>
      <% end %>

      <%= delete_draft_link unless @document.has_live_version_on_govuk %>
    <% elsif @document.publication_state == "error_sending_to_draft" %>
      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("documents.show.sidebar.error_creating_preview_govspeak") %>
      <% end %>

      <%= form_tag create_preview_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Try again" %>
      <% end %>

      <%= delete_draft_link unless @document.has_live_version_on_govuk %>
    <% elsif @document.publication_state == "error_deleting_draft" %>
      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("documents.show.sidebar.error_deleting_draft_govspeak") %>
      <% end %>

      <%= form_tag document_path(@document), method: :delete do %>
        <%= render "govuk_publishing_components/components/button", text: "Try again" %>
      <% end %>
    <% elsif @document.publication_state == "error_sending_to_live" %>
      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("documents.show.sidebar.error_publishing_live_govspeak") %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", text: "Retry publishing", href: publish_confirmation_path(@document) %>
    <% elsif @document.user_facing_state == "published_but_needs_2i" %>
      <%= form_tag approve_document_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Approve" %>
      <% end %>

      <%= form_tag create_edition_path(@document) do %>
        <%= render "govuk_publishing_components/components/button",
          text: "Create new edition",
          secondary: true,
          data_attributes: { gtm: "create-new-edition" } %>
      <% end %>

      <%= link_to "Retire", retire_path(@document), class: "govuk-link govuk-link--no-visited-state" %>
      <%= link_to "Remove", remove_path(@document), class: "govuk-link app-link--destructive app-link--right" %>
    <% elsif @document.user_facing_state == "published" %>
      <%= form_tag create_edition_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Create new edition", data_attributes: { gtm: "create-new-edition" } %>
      <% end %>

      <%= link_to "Retire", retire_path(@document), class: "govuk-link govuk-link--no-visited-state" %>
      <%= link_to "Remove", remove_path(@document), class: "govuk-link app-link--destructive app-link--right" %>
    <% elsif @document.user_facing_state == "retired" %>
      <%= link_to "Update reason for retiring", retire_path(@document), class: "govuk-link govuk-link--no-visited-state" %>
    <% elsif @document.user_facing_state == "removed" %>
      <%= form_tag create_edition_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Create new edition", data_attributes: { gtm: "create-new-edition" } %>
      <% end %>
    <% elsif @document.user_facing_state == "submitted_for_review" %>
      <%= render "govuk_publishing_components/components/button", text: "Publish", href: publish_confirmation_path(@document) %>
      <%= render "govuk_publishing_components/components/button", text: "Preview", href: preview_document_path(@document), secondary: true %>

      <%= delete_draft_link("app-link--right") unless @document.has_live_version_on_govuk %>
    <% elsif @document.user_facing_state == "draft" %>
      <%= form_tag submit_document_for_2i_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Submit for 2i review" %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", text: "Preview", href: preview_document_path(@document), secondary: true %>

      <%= link_to "Publish", publish_confirmation_path(@document), class: "govuk-link govuk-link--no-visited-state" %>

      <%= delete_draft_link("app-link--right") unless @document.has_live_version_on_govuk %>
    <% end %>

    <% if @document.has_live_version_on_govuk? %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      <%= link_to "View published edition on GOV.UK", DocumentUrl.new(@document).public_url, class: "govuk-link govuk-link--no-visited-state" %>
    <% end %>
  </div>
</div>
