<div class="app-side">
  <div class="app-side__actions">
    <% if @document.publication_state == "changes_not_sent_to_draft" %>
      <%= form_tag draft_document_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Preview" %>
      <% end %>

      <% unless @document.has_live_version_on_govuk %>
        <%= link_to "Delete draft", delete_draft_path(@document), class: "govuk-link app-link--destructive" %>
      <% end %>
    <% elsif @document.publication_state == "error_sending_to_draft" %>
      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("documents.show.sidebar.error_creating_preview") %>
      <% end %>

      <%= form_tag retry_draft_save_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Try again" %>
      <% end %>
    <% elsif @document.publication_state == "error_deleting_draft" %>
      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("documents.show.sidebar.error_deleting_draft") %>
      <% end %>

      <%= form_tag document_path(@document), method: :delete do %>
        <%= render "govuk_publishing_components/components/button", text: "Try again" %>
      <% end %>
    <% elsif @document.publication_state == "error_sending_to_live" %>
      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("documents.show.sidebar.error_publishing_live") %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", text: "Retry publishing", href: publish_document_path(@document) %>
    <% elsif @document.user_facing_state == "published_but_needs_2i" %>
      <%= form_tag approve_document_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Approve" %>
      <% end %>

      <%= form_tag create_document_edition_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Create new edition", secondary: true %>
      <% end %>

      <%= link_to "Retire", retire_document_path(@document), class: "govuk-link" %>
      <%= link_to "Remove", remove_document_path(@document), class: "govuk-link app-link--destructive app-link--right" %>
    <% elsif @document.user_facing_state == "published" %>
      <%= form_tag create_document_edition_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Create new edition" %>
      <% end %>

      <%= link_to "Retire", retire_document_path(@document), class: "govuk-link" %>
      <%= link_to "Remove", remove_document_path(@document), class: "govuk-link app-link--destructive app-link--right" %>
    <% elsif @document.user_facing_state == "submitted_for_review" %>
      <%= render "govuk_publishing_components/components/button", text: "Publish", href: publish_document_path(@document) %>
      <%= render "govuk_publishing_components/components/button", text: "Preview", href: preview_document_path(@document), secondary: true %>

      <% unless @document.has_live_version_on_govuk %>
        <%= link_to "Delete draft", delete_draft_path(@document), class: "govuk-link app-link--destructive app-link--right" %>
      <% end %>
    <% elsif @document.user_facing_state == "draft" %>
      <%= form_tag submit_document_for_2i_path(@document) do %>
        <%= render "govuk_publishing_components/components/button", text: "Submit for 2i review" %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", text: "Preview", href: preview_document_path(@document), secondary: true %>

      <%= link_to "Publish", publish_document_path(@document), class: "govuk-link" %>

      <% unless @document.has_live_version_on_govuk %>
        <%= link_to "Delete draft", delete_draft_path(@document), class: "govuk-link app-link--destructive app-link--right" %>
      <% end %>
    <% end %>

    <% if @document.has_live_version_on_govuk? %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      <%= link_to "View published edition on GOV.UK", DocumentUrl.new(@document).public_url, class: "govuk-link" %>
    <% end %>
  </div>
</div>
