<% displayed_edition_number = nil %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% @edition.document.timeline_entries.includes(:created_by, :details).order(created_at: :desc).includes(:edition).each do |entry| %>
      <div class="app-timeline-entry govuk-!-margin-bottom-6">
        <% if displayed_edition_number != entry.edition.number %>
          <h3 class="govuk-heading-m"><%= t "documents.history.edition_header", number: entry.edition.number.ordinalize %></h3>
          <% displayed_edition_number = entry.edition.number %>
        <% end %>

        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
          <%= t "documents.history.entry_types.#{entry.entry_type}" %>
        </h4>

        <div class="app-timeline-entry__dateline">
          <%= format_date_at_time(entry.created_at) %>
          <% if entry.created_by %>
            by <%= name_or_fallback(entry.created_by) %>
          <% end %>
        </div>

        <% if entry.internal_note? && entry.details %>
          <%= simple_format(escape_and_link(entry.details.body)) %>
        <% end %>

        <% if (entry.withdrawn? || entry.withdrawn_updated?) && entry.details %>
          <%= entry.details.public_explanation %>
        <% end %>

        <% if entry.backdated? %>
          <% date = format_date(entry.edition.backdated_to) %>
          <%= t "documents.history.entry_content.backdated", date: date %>
        <% end %>

        <% if entry.removed? && entry.details %>
          <% removal = entry.details %>
          <% if removal.explanatory_note.present? %>
            <p><%= removal.explanatory_note %></p>
          <% end %>

          <% if removal.alternative_path.present? %>
            <% if removal.redirect? %>
              <p>
                Redirected to
                <%= link_to(Plek.new.website_root + removal.alternative_path,
                            nil,
                            class: "govuk-link") %>
              </p>
            <% else %>
              <p>
                Alternative path
                <%= link_to(Plek.new.website_root + removal.alternative_path,
                            nil,
                            class: "govuk-link") %>
              </p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= form_tag(create_internal_note_path(@edition.document),
                 method: :post,
                 data: { gtm: "create-internal-note" }) do %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: t("documents.history.entry_types.internal_note"),
          bold: true
        },
        name: "internal_note",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("documents.history.add_internal_note")
      } %>
    <% end %>
  </div>
</div>
