<% current_scheduled_publish_datetime = @edition.revision.scheduled_publishing_datetime %>
<% default_date = Time.zone.now.tomorrow %>
<% publish_date = current_scheduled_publish_datetime || default_date %>
<% submitted_values = flash[:scheduled_publishing_params] %>
<% selected_time = submitted_values&.fetch("time") ||  current_scheduled_publish_datetime&.strftime("%l:%M%P")&.strip %>

<% scheduling_title = capture do %>
  <% if current_scheduled_publish_datetime %>
    Publish date: <br><%= current_scheduled_publish_datetime.strftime("%-d %B %Y - %l:%M%P") %>
  <% else %>
    Schedule publishing
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/details", {
  margin_bottom: 0,
  title: scheduling_title,
  open: submitted_values.present?,
} do %>
  <%= form_tag(save_scheduled_publishing_datetime_path(@edition.document),
               id: "scheduled_publishing_datetime") do %>
    <%= render "govuk_publishing_components/components/input", {
      label: { text: "Day" },
      name: "scheduled[day]",
      maxlength: 2,
      value: submitted_values&.fetch("day") || publish_date&.day,
    } %>
    <%= render "govuk_publishing_components/components/input", {
      label: { text: "Month" },
      name: "scheduled[month]",
      maxlength: 2,
      value: submitted_values&.fetch("month") || publish_date&.month,
    } %>
    <%= render "govuk_publishing_components/components/input", {
      label: { text: "Year" },
      name: "scheduled[year]",
      maxlength: 4,
      value: submitted_values&.fetch("year") || publish_date&.year,
    } %>
    <%= render "govuk_publishing_components/components/select", {
      label: "Time",
      id: "scheduled[time]",
      options: time_options(selected_time),
    } %>
    <% if current_scheduled_publish_datetime %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Update"
      } %>
    <% else %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Save"
      } %>
    <% end %>
  <% end %>
  <% if current_scheduled_publish_datetime %>
    <%= form_tag clear_scheduled_publishing_datetime_path(@edition.document), class: "app-inline-block" do %>
      <button class="govuk-link app-link--button">Clear date</button>
    <% end %>
  <% end %>
<% end %>
