<% current_scheduled_publish_datetime = @edition.revision.scheduled_publishing_datetime %>
<% default_date = Time.zone.now.tomorrow %>
<% publish_date = current_scheduled_publish_datetime || default_date %>
<% submitted_values = flash[:scheduled_publishing_params] %>
<% selected_time = submitted_values&.fetch("time") ||  current_scheduled_publish_datetime&.strftime("%l:%M%P")&.strip %>

<% scheduling_title = capture do %>
  <% if current_scheduled_publish_datetime %>
    Publish date: <br><%= current_scheduled_publish_datetime.strftime("%-d %B %Y - %l:%M%P") %>
  <% else %>
    Schedule publishing
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/details", {
  margin_bottom: 0,
  title: scheduling_title,
  open: submitted_values.present?,
} do %>
  <%= form_tag(save_scheduled_publishing_datetime_path(@edition.document),
               id: "scheduled_publishing_datetime") do %>
     <%= render "govuk_publishing_components/components/date_input", {
       legend_text: "Date",
       hint: "For example, 27 3 2027",
       name: 'scheduled',
       items: [
         {
           name: "day",
           width: 2,
           value: submitted_values&.fetch("day") || publish_date&.day
         },
         {
           name: "month",
           width: 2,
           value: submitted_values&.fetch("month") || publish_date&.month,
         },
         {
           name: "year",
           width: 4,
           value: submitted_values&.fetch("year") || publish_date&.year,
         }
       ]
     } %>
     <% time_options = time_options(selected_time) %>
     <%= render "components/autocomplete", {
       id: "scheduled[time]",
       name: "scheduled[time]",
       label: {
         text: "Time"
       },
       options: time_options[:options],
       selected_options: time_options[:selected_options],
       type: "without-narrowing-results",
       width: "narrow"
     } %>
    <% if current_scheduled_publish_datetime %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Update"
      } %>
    <% else %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Save"
      } %>
    <% end %>
  <% end %>
  <% if current_scheduled_publish_datetime %>
    <%= form_tag clear_scheduled_publishing_datetime_path(@edition.document), class: "app-inline-block" do %>
      <button class="govuk-link app-link--button">Clear date</button>
    <% end %>
  <% end %>
<% end %>
