<% if @edition.scheduled? %>
  <% scheduling = @edition.status.details %>
  <% scheduled_description = capture do %>
    <p class="govuk-body govuk-!-margin-bottom-1">
      <%= t("documents.show.scheduling.notice.scheduled",
            time: format_scheduled_time(scheduling.publish_time),
            date: format_scheduled_date(scheduling.publish_time)) %>
    </p>

    <ul class="govuk-list govuk-!-margin-0">
      <li>
        <%= link_to "Change date",
                    edit_schedule_path(@edition.document),
                    class: "govuk-link govuk-link--no-visited-state" %>
      </li>
      <li>
        <%= form_tag schedule_path(@edition.document),
            method: :delete,
            data: { gtm: "unschedule" } do %>
          <button class="govuk-link app-link--button govuk-link--no-visited-state">
            Stop scheduled publishing
          </button>
        <% end %>
      </li>
    </ul>
  <% end %>

  <%= render "govuk_publishing_components/components/notice", {
    description: scheduled_description,
    margin_bottom: 4,
  } %>

<% elsif @edition.editable? && @edition.proposed_publish_time %>
  <% proposed_scheduling_description = capture do %>
    <p class="govuk-body govuk-!-margin-bottom-1">
      <%= t("documents.show.scheduling.notice.proposed",
            time: format_scheduled_time(@edition.proposed_publish_time),
            date: format_scheduled_date(@edition.proposed_publish_time)) %>
    </p>

    <%= link_to "Change date",
                schedule_proposal_path(@edition.document),
                class: "govuk-link govuk-link--no-visited-state" %>
  <% end %>

  <%= render "govuk_publishing_components/components/notice", {
    description: proposed_scheduling_description,
    margin_bottom: 4,
  } %>
<% end %>

