<% datetime = @edition.scheduled_publishing_datetime %>
<% time = datetime&.strftime("%l:%M%P") %>
<% date = datetime&.strftime("%-d %B %Y") %>

<% change_date_link = capture do %>
  <%= link_to "Change date",
              scheduling_path(@edition.document),
              class: "govuk-link govuk-link--no-visited-state" %>
<% end %>

<% scheduled_description = capture do %>
  <p class="govuk-body govuk-!-margin-bottom-1">
    <%= t("documents.show.scheduling.notice.scheduled",
          time: time,
          date: date) %>
  </p>
  <ul class="govuk-list govuk-!-margin-0">
    <li><%= change_date_link %></li>
    <li>
      <%= form_tag unschedule_path(@edition.document), data: { gtm: "unschedule" } do %>
        <button class="govuk-link app-link--button govuk-link--no-visited-state">
          Stop scheduled publishing
        </button>
      <% end %>
    </li>
  </ul>
<% end %>

<% proposed_scheduling_description = capture do %>
  <p class="govuk-body govuk-!-margin-bottom-1">
    <%= t("documents.show.scheduling.notice.proposed",
          time: time,
          date: date) %>
  </p>
  <%= change_date_link %>
<% end %>

<% if @edition.scheduled? %>
  <%= render "govuk_publishing_components/components/notice", {
    description: scheduled_description,
    margin_bottom: 4,
  } %>
<% end %>
<% if @edition.editable? %>
  <%= render "govuk_publishing_components/components/notice", {
    description: proposed_scheduling_description,
    margin_bottom: 4,
  } %>
<% end %>
