<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if flash[:submitted_for_review] %>
      <%= render "documents/show/submitted_for_review" %>
    <% end %>

    <% if @edition.withdrawn? %>
      <%= render "documents/show/withdrawn_notice" %>
    <% end %>

    <%= render "documents/show/requirements" %>

    <% if @edition.failed_to_publish? %>
      <%= render "documents/show/failed_to_publish_notice" %>
    <% end %>

    <%= render "documents/show/contents" %>

    <% if @edition.document_type.images %>
      <%= render "documents/show/lead_image" %>
    <% end %>

    <% if @edition.document_type.topics %>
      <%= render "documents/show/topics" %>
    <% end %>

    <%= render "documents/show/tags" %>

    <% if @edition.first? && @edition.editable? %>
      <%= render "documents/show/content_settings" %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <% if @edition.scheduled? %>
      <%= render "documents/show/scheduled_notice" %>
    <% end %>

    <% if @edition.editable? && @edition.proposed_publish_time %>
      <%= render "documents/show/proposed_scheduling_notice" %>
    <% end %>

    <%= render "documents/show/actions" %>
    <%= render "documents/show/document_metadata" %>

    <% if current_user.has_permission?(User::DEBUG_PERMISSION) %>
      <%= render "documents/show/debug" %>
    <% end %>
  </div>
</div>
