<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if flash[:submitted_for_review] %>
      <%= render "documents/show/submitted_for_review" %>
    <% end %>

    <%= render "documents/show/contents" %>

    <% if @document.document_type_schema.lead_image %>
      <%= render "documents/show/lead_image" %>
    <% end %>

    <% if current_user.has_permission?(User::PRE_RELEASE_FEATURES_PERMISSION) && @document.document_type_schema.topics %>
      <%= render "documents/show/topics" %>
    <% end %>

    <%= render "documents/show/tags" %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "documents/show/actions" %>
    <%= render "documents/show/document_metadata" %>
  </div>
</div>
