<% lead_image = @document.current_edition.lead_image_revision %>
<% if lead_image %>
  <h2 class="govuk-heading-m">
    <%= t("images.index.lead_image") %>
  </h2>

  <% actions = [] %>
  <% actions << link_to("Edit crop", crop_image_path(@document, lead_image.image_id), class: "govuk-link") %>
  <% actions << link_to("Edit details", edit_image_path(@document, lead_image.image_id), class: "govuk-link") %>
  <% actions << link_to('Download 960x640 image', download_image_path(@document, lead_image.image_id), class: "govuk-link") %>

  <% actions << capture do %>
    <%= form_tag remove_lead_image_path(@document), method: :delete, class: "app-inline-block" do %>
      <button class="govuk-link">Remove lead image</button>
    <% end %>
  <% end %>

  <% actions << capture do %>
    <%= form_tag destroy_image_path(@document, lead_image.image_id), method: :delete, class: "app-inline-block" do %>
      <%= hidden_field_tag :wizard, "lead_image" %>
      <button class="govuk-link app-link--destructive">Delete lead image</button>
    <% end %>
  <% end %>

  <%= render "components/image_meta", {
    id: "image-#{lead_image.image_id}",
    src: url_for(lead_image.thumbnail),
    meta: {
      alt_text: lead_image.alt_text,
      caption: lead_image.caption,
      credit: lead_image.credit
    },
    actions: actions
  } %>
<% end %>
