<% content_for :title, t("images.edit.title", title: @document.current_edition.title_or_fallback) %>
<% content_for :back_link, render_back_link(href: crop_image_path(@document, @image_revision.image_id)) %>

<%= render "components/image_meta", {
  id: "selected-image",
  src: url_for(@image_revision.thumbnail),
  alt_text: @image_revision.alt_text,
  no_border: true
} %>

<%= form_tag(
  update_image_path(@document, @image_revision.image_id, wizard: params[:wizard]),
  method: :patch,
  data: {
    "warn-before-unload": true,
    "modal-action": params[:wizard] == "upload" ? "metaInsert" : "meta"
    "modal-data": I18n.t("images.index.meta.inline_code.value", filename: @image_revision.filename),
  }
) do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("images.edit.form_labels.alt_text"),
          bold: true
        },
        name: "image_revision[alt_text]",
        value: @image_revision.alt_text,
        error_items: @issues&.items_for(:alt_text),
        data: {
          "contextual-guidance": "alt-text-guidance"
        }
      } %>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual_guidance", {
        id: "alt-text-guidance",
        title: t("images.edit.form_labels.alt_text"),
      } do %>
        <%= render_govspeak(t("images.edit.guidance.alt_text_govspeak")) %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("images.edit.form_labels.caption"),
          bold: true
        },
        name: "image_revision[caption]",
        value: @image_revision.caption,
        error_items: @issues&.items_for(:caption),
        data: {
          "contextual-guidance": "caption-guidance"
        }
      } %>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual_guidance", {
        id: "caption-guidance",
        title: t("images.edit.form_labels.caption"),
      } do %>
        <%= render_govspeak(t("images.edit.guidance.caption_govspeak")) %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("images.edit.form_labels.credit"),
          bold: true
        },
        name: "image_revision[credit]",
        value: @image_revision.credit,
        data: {
          "contextual-guidance": "credit-guidance"
        }
      } %>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual_guidance", {
        id: "credit-guidance",
        title: t("images.edit.form_labels.credit"),
        relative: true
      } do %>
        <%= render_govspeak(t("images.edit.guidance.credit_govspeak")) %>
      <% end %>
    </div>
  </div>

  <% unless rendering_context == "modal" %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/checkboxes", {
          items: [
            {
              label: t("images.edit.form_labels.lead_image"),
              checked: @document.current_edition.lead_image_revision == @image_revision,
              name: "lead_image",
            }
          ]
        } %>
      </div>
    </div>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    margin_bottom: true,
    text: (rendering_context == "modal" && params[:wizard] == "upload") ? "Save and insert" : "Save"
  } %>
<% end %>
