<% content_for :title, t("images.index.title", title: @document.current_edition.title_or_fallback) %>
<% content_for :back_link, render_back_link(href: document_path(@document)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-pane">
      <% upload_image_heading = capture do %>
        <h2 class="govuk-heading-m">
          <%= t("images.index.upload_image") %>
        </h2>
      <% end %>

      <%= form_tag(
        create_image_path(@document),
        id: "image-upload",
        multipart: true,
        data: {
          gtm: "image-upload-submit",
          "modal-action": "upload",
          "modal-action-form": "image-upload",
        }
      ) do %>
        <%= render "govuk_publishing_components/components/file_upload", {
          label: {
            text: upload_image_heading,
          },
          name: "image"
        } %>

        <%= render_govspeak(t("images.index.description_govspeak")) %>

        <%= render "govuk_publishing_components/components/button", {
          text: "Upload",
        } %>
      <% end %>
    </div>

    <% if lead_image = @document.current_edition.lead_image_revision %>
      <%= render "lead_image", lead_image: lead_image, document: @document %>
    <% end %>

    <% images = @document.current_edition.image_revisions_without_lead %>

    <% if images.any? %>
      <h2 class="govuk-heading-m">
        <%= t("images.index.other_images") %>
      </h2>

      <% images.each do |image| %>
        <%= render "image", image: image, document: @document %>
      <% end %>
    <% end %>
  </div>
</div>
