<% content_for :title, t("images.index.title", title: @document.title_or_fallback) %>
<% content_for :back_link, render_back_link(href: document_path(@document)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-pane">
      <% upload_image_heading = capture do %>
        <h2 class="govuk-heading-m">
          <%= t("images.index.upload_image") %>
        </h2>
      <% end %>

      <%= form_tag(
        create_image_path(@document),
        multipart: true,
        data: { gtm: "image-upload-submit" },
      ) do %>
        <%= hidden_field_tag :wizard, "lead_image" %>

        <%= render "govuk_publishing_components/components/file_upload", {
          label: {
            text: upload_image_heading,
          },
          name: "image"
        } %>

        <%= render "govuk_publishing_components/components/govspeak" do %>
          <%= govspeak_to_html t("images.index.description_govspeak") %>
        <% end %>

        <%= render "govuk_publishing_components/components/button", {
          text: "Upload"
        } %>
      <% end %>
    </div>

    <% lead_image = @document.lead_image %>
    <% images = @document.images - [lead_image] %>

    <% if lead_image %>
      <h2 class="govuk-heading-m">
        <%= t("images.index.lead_image") %>
      </h2>

      <%= render "lead_image", image: lead_image %>
    <% end %>

    <% if images.any? %>
      <h2 class="govuk-heading-m">
        <%= t("images.index.other_images") %>
      </h2>

      <% images.each do |image| %>
        <%= render "image", image: image %>
      <% end %>
    <% end %>
  </div>
</div>
