<span class="gem-c-phase-banner__banner-item">
  <a class="govuk-link govuk-link--no-visited-state" href="<%= Plek.new.external_url_for("support") + "/technical_fault_report/new" %>"><%= t("application.phase_banner.raise_a_support_request") %></a>
</span>
<span class="gem-c-phase-banner__banner-item">
  <a class="govuk-link govuk-link--no-visited-state" href="<%= Plek.new.external_url_for("support") + "/general_request/new" %>"><%= t("application.phase_banner.send_us_feedback") %></a>
</span>
<span class="gem-c-phase-banner__banner-item">
  <a class="govuk-link govuk-link--no-visited-state" href="<%= publisher_updates_path %>"><%= t("application.phase_banner.whats_new") %></a>
</span>
