<% content_for :head do %>
<%= stylesheet_link_tag "application" %>
<% end %>

<%= render 'govuk_publishing_components/components/layout_for_admin',
  environment: Rails.application.config.govuk_environment,
  browser_title: yield(:title) + " - GOV.UK" do %>

  <%= render "govuk_publishing_components/components/skip_link" %>

  <%= render "govuk_publishing_components/components/layout_header", {
    environment: Rails.application.config.govuk_environment,
    navigation_items: [
      { text: current_user.name, href: Plek.new.external_url_for("signon") },
      { text: "Log out", href: gds_sign_out_path }
    ]
  }%>

  <div class="govuk-width-container">
    <% if yield(:back_link).present? %>
      <%= render "govuk_publishing_components/components/back_link", href: yield(:back_link) %>
    <% end %>

    <% if flash[:notice] %>
      <p>
        <%= flash[:notice] %>
      </p>
    <% end %>

    <% if flash[:alert] %>
      <p>
        <%= flash[:alert] %>
      </p>
    <% end %>

    <main class="govuk-main-wrapper<%= " govuk-main-wrapper--l" if yield(:back_link).blank?%>" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l"><%= yield(:context) %></span>
          <h1 class="govuk-heading-l"><%= yield(:title) %></h1>
        </div>
      </div>
      <%= yield %>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer" %>
  <%= javascript_pack_tag "application" %>
<% end %>
