<% content_for :head do %>
  <% if ENV["SENTRY_DSN"] && ENV["SENTRY_CURRENT_ENV"] %>
    <meta name="sentry-dsn" content="<%= ENV["SENTRY_DSN"] %>">
    <meta name="sentry-current-env" content="<%= ENV["SENTRY_CURRENT_ENV"] %>">
  <% end %>

  <% if ENV["GOOGLE_TAG_MANAGER_ID"] %>
    <script>
      dataLayer = [{ 'dimension1': '<%= current_user.organisation_slug %>' }];
    </script>
    <%= render "govuk_publishing_components/components/google_tag_manager_script", {
      gtm_id: ENV["GOOGLE_TAG_MANAGER_ID"],
      gtm_auth: ENV["GOOGLE_TAG_MANAGER_AUTH"],
      gtm_preview: ENV["GOOGLE_TAG_MANAGER_PREVIEW"]
    } %>
  <% end %>
<% end %>

<%= render 'govuk_publishing_components/components/layout_for_admin',
  environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
  browser_title: yield(:browser_title).presence || yield(:title) do %>

  <%= render "govuk_publishing_components/components/skip_link" %>

  <%= render "govuk_publishing_components/components/layout_header", {
    environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
    navigation_items: [
      { text: "Switch app", href: Plek.new.external_url_for("signon") },
      { text: current_user.name, href: Plek.new.external_url_for("signon") },
      { text: "Log out", href: gds_sign_out_path }
    ]
  }%>

  <div class="govuk-width-container">
    <%= render "govuk_publishing_components/components/phase_banner", {
      app_name: "Content publisher",
      phase: "beta",
      message: capture do
        render "layouts/phase_banner_elements"
      end,
    } %>

    <%= yield(:back_link) %>

    <% if flash["notice"] %>
      <%= render "govuk_publishing_components/components/success_alert", {
        message: flash["notice"]
      } %>
    <% end %>

    <% if flash["confirmation"] %>
      <%= render flash["confirmation"] %>
    <% end %>

    <% if flash["alert_with_description"] %>
      <%= render "govuk_publishing_components/components/error_alert", {
        message: flash["alert_with_description"].fetch("title"),
        description: capture do
          render "govuk_publishing_components/components/govspeak" do
            govspeak_to_html(flash["alert_with_description"].fetch("description_govspeak"))
          end
        end
      } %>
    <% end %>

    <% if flash["alert"] %>
      <% if flash["alert"].is_a? Hash %>
        <%= render "govuk_publishing_components/components/error_summary", {
          title: flash["alert"]["title"],
          items: flash["alert"]["items"].map(&:symbolize_keys)
        } %>
      <% else %>
        <%= render "components/error_alert", {
          message: flash["alert"]
        } %>
      <% end %>
    <% end %>

    <main class="govuk-main-wrapper<%= " govuk-main-wrapper--l" if yield(:back_link).blank?%>" id="main-content" role="main">
      <% if yield(:title).present? %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l"><%= yield(:context) %></span>
          <h1 class="govuk-heading-l"><%= yield(:title) %></h1>
        </div>
        <div class="govuk-grid-column-one-third app-grid-column--end">
          <%= yield(:title_side) %>
        </div>
      </div>
      <% end %>
      <%= yield %>
    </main>
  </div>

  <%
    debug_links = []

    if current_user.has_permission?(User::DEBUG_PERMISSION)
      debug_links << {
        href: documentation_path,
        text: "App documentation",
      }
    end

    if @document && current_user.has_permission?(User::DEBUG_PERMISSION)
      debug_links << {
        href: debug_document_path(@document),
        text: "Document internal metadata",
      }
    end
  %>

  <%= render "govuk_publishing_components/components/layout_footer", {
    navigation: [
      {
        title: t("application.footer.support_and_feedback"),
        items: [
          {
            href: "https://support.publishing.service.gov.uk/technical_fault_report/new",
            text: "Raise a support request"
          },
          {
            href: "https://support.publishing.service.gov.uk/content_publisher_feedback_request/new",
            text: "Send us feedback"
          },
          {
            href: "https://status.publishing.service.gov.uk",
            text: "GOV.UK Status"
          },
          {
            href: "https://www.gov.uk/government/content-publishing",
            text: "How to write, publish, and improve content"
          }
        ] + debug_links
      },
      {
        title: t("application.footer.documentation"),
        items: [
          {
            href: beta_capabilities_path,
            text: "What the Beta can and cannot do"
          },
          {
            href: how_to_use_publisher_path,
            text: "How to use Content Publisher"
          },
          {
            href: publisher_updates_path,
            text: "What's new in Content Publisher"
          }
        ]
      },
    ]
  } %>

  <script src="https://cdn.ravenjs.com/3.26.4/raven.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,fetch"></script>
<% end %>
