<%= render 'govuk_publishing_components/components/layout_for_admin',
  environment: Rails.application.config.govuk_environment,
  browser_title: yield(:title) + " - GOV.UK" do %>

  <%= render "govuk_publishing_components/components/skip_link" %>

  <%= render "govuk_publishing_components/components/layout_header", {
    environment: Rails.application.config.govuk_environment,
    navigation_items: [
      { text: current_user.name, href: Plek.new.external_url_for("signon") },
      { text: "Log out", href: gds_sign_out_path }
    ]
  }%>

  <div class="govuk-width-container">
    <% if yield(:back_link).present? %>
      <%= render "govuk_publishing_components/components/back_link", href: yield(:back_link) %>
    <% end %>

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <%= render "govuk_publishing_components/components/title", title: yield(:title) %>
      <%= yield %>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer" %>
<% end %>
