<%= yield(:back_link) %>

<% if flash["notice"] %>
  <%= render "govuk_publishing_components/components/success_alert", {
    message: flash["notice"]
  } %>
<% end %>

<% if flash["requirements"] %>
  <% items = flash["requirements"]["message"] ?
    [{ text: flash["requirements"]["message"] }] :
    flash["requirements"]["items"].map(&:symbolize_keys) %>

  <%= render "govuk_publishing_components/components/error_summary", {
    title: t("documents.flashes.requirements"),
    items: track_requirements(items),
    data_attributes: {
      gtm: "alert-requirements",
      "gtm-visibility-tracking" => true
    },
  } %>
<% end %>

<h1 class="govuk-heading-l"><%= yield(:title) %></h1>

<%= yield %>
